[2022-05-03 05:59] codefan-byte opened #14 "Add me in"

[2022-05-03 05:59] #14 closed

[2022-05-03 06:09] MiguelTucto opened #21 "Add"
Add me pls 🙏🏼

[2022-05-03 06:20] Rishit-dagli opened #55 "Inconsistent "save the date" links"
There are 2 "Save the Date" links in the document:

- Under "How to join the Class of 2022"
- Under "Graduation Day 🎓"

Both of these links show different times and the first one is flagged invalid by Google Calendar as well, please see the screenshot.

![image](https://user-images.githubusercontent.com/39672672/166411864-5b7b9e1c-64f5-40dc-9d21-32c62a948c51.png)

[2022-05-03 06:26] elisemoe commented on #55
Thanks so much for letting us know @Rishit-dagli! I'll go ahead and update the links.

The live event is on June 11 at 9 am Pacific Time.

[2022-05-03 06:32] icebarf commented on #21
Lol what

[2022-05-03 07:08] prskid1000 opened #300 "Bad Gateway on Apply Now"
<img width="1312" alt="Screenshot 2022-05-03 at 12 37 43 PM" src="https://user-images.githubusercontent.com/42976809/166415941-31044145-142d-4f3d-b7ef-98af036fdcb0.png">

[2022-05-03 07:09] RyanCallahan312 opened #305 "PR template has 2021 calendar event link"
The event link in the pr template goes to https://calendar.google.com/calendar/u/0/r/eventedit?dates=20210605T160000Z/20210605T173000Z&text=GitHub+Graduation+%F0%9F%8E%93&location=https://www.twitch.tv/githubeducation&details&sf=true

This leads leads to the 2021 event
![image](https://user-images.githubusercontent.com/16870158/166416030-33f52e0a-4132-41c0-a3c1-65ef32f25a3c.png)

[2022-05-03 07:10] prskid1000 commented on #300
You have been verified as a student with the GitHub Student Developer Pack. Not yet a part of the Pack? [Apply here](https://education.github.com/discount_requests/student_application?utm_source=2022-06-11-GitHubGraduation).  This link not working on Safari(Monterey)

[2022-05-03 07:17] jpacora commented on #21
Tienes los pasos en el README, no seas flojo.

[2022-05-03 07:36] vincenttjia commented on #21
Fork it, add it yourself then do a PR

[2022-05-03 07:38] aryangulati opened #459 "Not Previously Graduated going to graduate in 2022"
**Hi aryangulati,**
**Welcome to graduation!**

I'm really sorry! It looks like you've already graduated in a previous year. This is for first time grads!

_Originally posted by @github-education in https://github.com/education/GitHubGraduation-2022/pull/240#pullrequestreview-959996425_

[2022-05-03 07:38] iabdamit opened #461 "Create abd.md"

[2022-05-03 07:40] lokeshgadesula opened #470 "Approve this"

[2022-05-03 07:40] #470 closed

[2022-05-03 07:41] iabdamit opened #482 "Abd.md"

[2022-05-03 07:42] iabdamit opened #487 "Add"

[2022-05-03 07:43] StarTrooper08 opened #488 "I haven't applied last year graduation but its closing my Pull request"
I haven't applied for the last year's 2021 graduation ceremony but when I try to apply this year it's showing last year you have applied and closed the pull request.

[2022-05-03 07:43] iabdamit opened #490 "_data/AmitBhandari.md"

[2022-05-03 07:51] anjali1102 commented on #488
mine to closing PR #505
I am graduating in aug 2022

[2022-05-03 07:58] OmarDev100 opened #556 "UAE country not available in Airtable shipping form"
I am searching for United Arab Emirates (UAE) in the shipping form but I cannot find it, please add it ASAP @elisemoe

[2022-05-03 08:03] #490 closed

[2022-05-03 08:04] #461 closed

[2022-05-03 08:06] #55 closed

[2022-05-03 08:12] singh08prashant opened #608 "Can't apply for student dveloper pack"
My student developer pack expired last year and I am not able to re-apply for the same.
My PR to this repo is failing.

[2022-05-03 08:22] kurt112 opened #672 "permision denied"
<img width="1001" alt="Screen Shot 2022-05-03 at 4 22 11 PM" src="https://user-images.githubusercontent.com/28474827/166423507-e39d0159-4b78-426f-bbf3-b49208da2485.png">

[2022-05-03 08:24] #672 closed

[2022-05-03 08:30] Manoj-14 opened #729 "Incorrect Calander link (data and year is incorrect)"
Add event link in the .github is incorrect because the date and the uear in that link is 05-06-2021 so please change the link to this year

[2022-05-03 08:36] aryangulati commented on #488
Mine also PR:  #176

[2022-05-03 08:41] Loner291999 commented on #556
same

[2022-05-03 08:44] synalice opened #793 "Can't fill the shipping form"
There isn't an option to choose Russia (or Ukraine for that matter) when filling out a shipping form. Does that mean I don't get the candy? 🥺

[2022-05-03 08:54] OmarDev100 commented on #793
Me too, can't find United Arab Emirates

[2022-05-03 08:58] OmarDev100 commented on #556
yeah

[2022-05-03 09:32] IPRIT commented on #556
Same with Russia and other different countries

[2022-05-03 09:33] PDPENG commented on #793
Hopefully, more regions can be added

[2022-05-03 09:34] OmarDev100 commented on #556
but like some countries are not having like any restrictions but they are not listed btw

[2022-05-03 09:34] PDPENG commented on #608
My PR to this repo is failing.

Ah, can I reapply if the student bag has expired?

[2022-05-03 09:35] OmarDev100 commented on #556
and PRs are growing so high, and if they didn't reply, i will almost lose my chance

[2022-05-03 09:36] PDPENG commented on #487
Submit Pull Request, not open question, your operation is wrong

[2022-05-03 09:38] PDPENG commented on #21
Submit PR, not open question, your operation is wrong

[2022-05-03 09:50] ArnavGohil opened #1013 "Will be graduating this year"
Hi, I think there's been a mistake. I will be graduating in the coming month, i.e. May 2022

_Originally posted by @ArnavGohil in https://github.com/education/GitHubGraduation-2022/pull/998#issuecomment-1115953024_

[2022-05-03 10:37] ankushKun opened #1149 "Did not graduate previous year"
Hi,
last year (2021) I created the PR, but it was not merged because my Github student pack expired and I hade to reapply for it, due to which I missed the final date for the graduation.

This year I created another PR but was closed with "graduated last year"

Previous year PR -> [#9860](https://github.com/education/GitHubGraduation-2021/pull/9860)
This years PR -> #359

Please look into it and l

[2022-05-03 11:44] #729 closed

[2022-05-03 12:11] developer22-university opened #1358 "No previous graduation"
Hi developer22-university,,
Welcome to graduation!

I'm really sorry! It looks like you've already graduated in a previous year. This is for first time grads!

Originally posted by @github-education in  https://github.com/education/GitHubGraduation-2022/pull/1340#pullrequestreview-960261465

[2022-05-03 12:12] developer22-university commented on #1358
@github-education  this is really unfair and unjust to us.

[2022-05-03 12:15] brtobin opened #1369 "No permissions to push remote branch"

[2022-05-03 13:14] jpacora commented on #1369
You need to open a pull request.

[2022-05-03 13:18] MrAppu opened #1539 "Showing I had already graduated last year, even though it did not complete last time"
I had tried to do last years graduation programme but had not completed it because I had no student developer pack then. Also my directory was wrong. When I tried to apply now, it is showing that I had already done it.
Here is the last years pull request: https://github.com/education/GitHubGraduation-2021/pull/7397

[2022-05-03 13:19] Abd282 opened #1548 "Add"

[2022-05-03 13:21] MrAppu commented on #1539
Do closing the last year's pull request will do anything?

[2022-05-03 13:51] hugoFranco21 opened #1616 "Automated check failing"
## Issue
The automatic checker after submitting the Pull Request is failing, it's showing me the name of the file the previous merged user had, but it has clearly been deleted/changed in my PR.
<img width="659" alt="fails1" src="https://user-images.githubusercontent.com/31373345/166465737-713886ed-a229-4809-b898-bee07d1f95d9.png">
<img width="926" alt="fails2" src="https://user-images.githubuserco

[2022-05-03 13:56] SuperAayush commented on #1616
Have to tried removing these comments as well?

[2022-05-03 13:58] brtobin opened #1631 "Failing automated"
Why?

My repo looks like other successful pull requests

<img width="1226" alt="image" src="https://user-images.githubusercontent.com/24663534/166467017-87e380a6-c258-4bcb-852e-49ef8dec119f.png">

[2022-05-03 13:58] #1548 closed

[2022-05-03 13:58] Abd282 commented on #1548
Closed

On Tue, 3 May 2022, 6:57 pm Aayush Sharma, ***@***.***> wrote:

[2022-05-03 14:00] #1369 closed

[2022-05-03 14:04] hugoFranco21 commented on #1631
I think I know what the problem is. Deleting that folder and .md file corresponds to a change, that is why it is not letting us merge. Should it work like that? Probably not, but the solution is to just create your files and folder without deleting/changing anything.

[2022-05-03 14:06] #1631 closed

[2022-05-03 14:07] hugoFranco21 commented on #1616
## Solution
Do not delete any folder/file from the repo, just create your own folder and .md file inside de _data folder. It seems confusing but it works.

## Suggestions
- Change the guide to show that you do not need to delete anything in the folder only add the information.
- Change the automated checker to add this exception (deleting another user folder/.md file)

[2022-05-03 14:10] brtobin commented on #1631
You were right @hugoFranco21 , thanks! Also, in the README.md I replaced 'YOUR-USERNAME' with my username which was being rejected

[2022-05-03 14:15] harshit2000 commented on #793
The maintainers might soon add more regions. Just check if you can temporary fill the form with any other region

[2022-05-03 14:15] jitheshvijayakumar opened #1678 "Add Details"

[2022-05-03 14:41] idleboy4038 opened #1747 "Failure: Getting Grades"
![image](https://user-images.githubusercontent.com/62786811/166475371-2baa54a2-886b-4b11-8942-5f8c21aa61be.png)

[2022-05-03 14:58] elisemoe commented on #556
Thanks, everyone for letting us know about the mistake ❤️

I've added UAE to the shipping form.

[2022-05-03 15:02] #1747 closed

[2022-05-03 15:07] elisemoe commented on #1539
Hi @MrAppu 👋  I've removed your entry from last year's graduation. You should now be able to open a new Pull Request and participate.

Congrats on your graduation!

[2022-05-03 15:07] #1539 closed

[2022-05-03 15:12] #1149 closed

[2022-05-03 15:16] elisemoe commented on #1013
Hi, @ArnavGohil  👋 I've removed your entry from last year's graduation. You should now be able to open a new Pull Request and participate.

Congrats on your graduation!

[2022-05-03 15:16] #1013 closed

[2022-05-03 15:19] elisemoe commented on #793
Hello 👋  thank you all for letting us know about the mistake! All three have been added to the form.

Let us know if you notice anymore missing ❤️

[2022-05-03 15:19] #793 closed

[2022-05-03 15:19] #556 closed

[2022-05-03 15:21] hitarthkhurana opened #1846 "Did not graduate last year"
Hello

Last Year I did not have Github Pro so I was not able to graduate. Please fix this issue.
Last year's PR - [#5758](https://github.com/education/GitHubGraduation-2021/pull/5758)
This year's PR - [#1819](https://github.com/education/GitHubGraduation-2022/pull/1819)
Please remove last year's PR so that I can graduate this year.

[2022-05-03 15:21] #459 closed

[2022-05-03 15:22] elisemoe commented on #1846
Hi, @hitarthkhurana 👋  I've removed your submission from last year and you should now be able to create a Pull Request for participation.

Congrats on your graduation! 💖

[2022-05-03 15:24] elisemoe commented on #488
Hi, @StarTrooper08 and @anjali1102  👋  I've removed your submissions from last year, and you should now be able to submit a Pull Request and participate this year.

Congrats on your graduation! 💖

[2022-05-03 15:24] #488 closed

[2022-05-03 15:24] #487 closed

[2022-05-03 15:24] #482 closed

[2022-05-03 15:31] hitarthkhurana commented on #1846
I tried to create a new PR but it still says that I graduated last year. Please fix this

LInk -  [#1860](https://github.com/education/GitHubGraduation-2022/pull/1860)

[2022-05-03 15:32] elisemoe commented on #1358
Hi, @developer22-university 👋  It looks like you participated in last year's event. Congrats on your graduation!

We only allow participation once in the GitHub Graduation yearbook. You're welcome to attend the event on June 11!

[2022-05-03 15:32] #1358 closed

[2022-05-03 15:33] elisemoe commented on #608
Hello 👋  can you please tell me more about why you're not able to re-apply?

GitHub Graduation is an event for students verified with the Student Developer Pack, and having a valid Pack is required.

[2022-05-03 15:33] elisemoe commented on #608
Yes! You are welcome to re-apply.

[2022-05-03 15:35] aryangulati commented on #459
Thank you but again it's labeling PR #1873  as previously graduated

[2022-05-03 15:35] faizalanwar opened #1876 "is there no hope of joining?"
**Hi faizalanwar,**
**Welcome to graduation!**

I'm really sorry! It looks like you've already graduated in a previous year. This is for first time grads!

_Originally posted by @github-education in https://github.com/education/GitHubGraduation-2022/pull/1848#pullrequestreview-960557910_

[2022-05-03 15:35] hitarthkhurana opened #1877 "did not graduate last year"
even after removing last year's pr, I am not able to create a new pr. it says that I graduated last year

link - [#1860](https://github.com/education/GitHubGraduation-2022/pull/1860)

please fix this

[2022-05-03 15:36] atik1n commented on #793
If I already filled form with "Belarus" as country, but in address implicitly written Russia, is it okay?

[2022-05-03 15:48] MrAppu commented on #1539
Thank you elisemoe!!

[2022-05-03 15:49] elisemoe commented on #1877
Thank you both for letting us know! I believe we're running into a problem with cached data. Working on a fix now.

[2022-05-03 15:51] ankushKun commented on #1149
Thanks for the response @elisemoe, but seems like It still closes my PR #1908

[2022-05-03 15:52] MrAppu commented on #1539
@elisemoe
Sorry for pinging you,but the same conflict happened again :(
PR:https://github.com/education/GitHubGraduation-2022/pull/1911

[2022-05-03 15:58] MrAppu commented on #1877
Same issue here, thank you elisemoe for trying to fix it!

[2022-05-03 15:59] tulika9414 commented on #608
The Student developer form is not opening

[2022-05-03 16:15] 25077667 commented on #300
Me too.

[2022-05-03 16:33] 25077667 opened #2008 "Fix GitHub username error comparing type"
If anyone's username is full numerical string the mdParser would
deduct it as a number rather than a string. Therefore there should
have a type-casting when it would be compared via type-sensitive
compare operator.

Please check: https://github.com/education/GitHubGraduation-2022/pull/1975/commits/59db69c797e58a4631b60a4ad5f602e4256c6516

[2022-05-03 16:38] elisemoe commented on #608
Here's [the application form](https://education.github.com/discount_requests/student_application?utm_source=2022-06-11-GitHubGraduation).

[2022-05-03 16:53] tadd opened #2048 "No way to mark improvement PRs for the repository itself"
Some students (like me) may want to contribute to improving this repository itself, as in #1519.
Is there any plan to provide a way to mark such PRs to distinguish other "add me" PRs?

I think there are currently two problems.

1. Unconditional GitHub Actions execution
    * Unnecessary checks ("graduation judgment") yield red signs 🚫 that may make merging hard
    * Time-consuming and increases c

[2022-05-03 17:50] zhou-waner commented on #1877
the same issue here. PR #2124

[2022-05-03 18:16] savannanoh opened #2186 "Event timezone discrepancy"
The readme says the graduation is at 9am PT but the calendar event shows up as 1-3pm on my end (I'm in PT)

[2022-05-03 18:28] elisemoe commented on #2048
Thanks for your message @tadd 💖 💖

We're a little hesitant to test bot changes in production but are adding this to our wish list for next year! 😁 If you use the "enhancements" label on a PR, we'll be sure to check and review any contributions!

I'll also leave this Issue open if you want to link to a PR for review.

[2022-05-03 18:50] OmarDev100 commented on #556
Thanks!!!

[2022-05-03 19:11] 25077667 commented on #2008
Hey all, I update the PR link. Please feel free to check it.

[2022-05-03 20:58] elisemoe commented on #2048
Update: the "enhancements" label is not excluded from the CI pipeline ✨  Thanks for the idea!!

[2022-05-03 21:28] anjali1102 commented on #488
yes I am too still facing some issue, again automatically closed 😞 @elisemoe

[2022-05-03 21:41] davwheat opened #2409 ""Previously graduated""
I've supposedly previously graduated so I cannot sign up this year, but I cannot find any record of this.

Neither https://github.com/education/GitHubGraduation-2021/tree/main/_data/davwheat nor https://github.com/education/graduation/tree/main/_data/davwheat exist, implying that I've not graduated before.

[2022-05-03 23:28] asheeeshh commented on #1877
sorry for the interruption, but I wanted to know about how the bot's logic works at the moment, I think it just checks if the person had opened a PR previous year, if it's really like that then shouldn't we add one more layer of check to see *if the PR was actually merged or not?*

[2022-05-03 23:50] asheeeshh commented on #2048
The will still check the PR atleast once according to me, as we can't add the label ourselves like #2461 , maybe checking before the PR is submitted that if it's enhancement or yearbook addition and adding a label could help.

[2022-05-04 00:32] #1876 closed

[2022-05-04 01:03] AkshayaKumar-VM opened #2491 "Pull"
Yearbook !

[2022-05-04 01:04] AkshayaKumar-VM opened #2492 "Pull request"
Education application

[2022-05-04 01:23] kelwinmirandaa opened #2508 "Kelpull"

[2022-05-04 01:23] kelwinmirandaa commented on #2508
Ok

[2022-05-04 01:30] diego-salves commented on #2508
You should open a PR not a issue bro

[2022-05-04 01:30] diego-salves commented on #2492
Hey man, you oppened a issue not a PR! Reach out if you need any help.

[2022-05-04 01:31] #2508 closed

[2022-05-04 02:15] jakeliny opened #2557 "Fix typo on pt_BR readme"
In the example of content to fill in the data, everything must be in lowercase letters, I corrected the G in github_user because some people are having an error when sending PR

Visit the PR: #2550

[2022-05-04 02:42] jakeliny commented on #2557
Merge done ❤️

[2022-05-04 02:42] #2557 closed

[2022-05-04 02:54] #2492 closed

[2022-05-04 02:54] #2491 closed

[2022-05-04 02:55] juanpflores commented on #2186
Thanks for pointing this out! We have fixed the calendar invite timezone 🙌🏼

[2022-05-04 02:55] #2186 closed

[2022-05-04 04:02] ArnavBalyan opened #2639 "Did not "Previously Graduate""
Cant sign up as it says Previously Graduated.
Definitely do not have my data in https://github.com/education/GitHubGraduation-2021/tree/main/_data. Please resolve @github-education

[2022-05-04 04:03] StoreksFeed opened #2642 "Update shipping information ➡️"
This issue is open for requests to change your shipping address. Resubmit the shipping form and ping staff member

[2022-05-04 04:22] elisemoe commented on #1846
Do you mind trying one more time? we had some problems with the cache but have cleared last year's data now.

[2022-05-04 04:22] elisemoe commented on #459
Sorry for the confusion! Do you mind trying one more time? We had a problem with the cache but have clear last year's data now.

[2022-05-04 04:35] aryangulati commented on #459
Thank you so much
But I think the issue is still not resolved yet for me
PR #2664

[2022-05-04 04:44] ankushKun commented on #1846
Nope still can't #2669 :(
cc: @elisemoe

[2022-05-04 05:00] elisemoe commented on #1149
Sorry for the confusion! Do you mind trying once more? We had a problem with the cache but have cleared it now.

[2022-05-04 05:01] elisemoe commented on #1539
Sorry for the confusion! Do you mind trying once more? We had a problem with the cache but have cleared it now.

[2022-05-04 05:06] elisemoe commented on #1877
Yes! Spot on 😁 We've updated the bot but still had some issues with the cache. You should now be able to open a new PR. Let me know if you still have any trouble with the bot and I'll manually review.

[2022-05-04 05:11] juanpflores commented on #2642
Yes! Resubmit the form, ping us and we can update it ✅

[2022-05-04 05:11] ankushKun commented on #1149
still can't - #2694
cc: @elisemoe

[2022-05-04 05:11] juanpflores commented on #2048
If you add the `enhancement` label, the bot won't review it and we can check it out afterwards 😉

[2022-05-04 05:12] juanpflores commented on #2008
🙌🏼 Thanks for pointing this out! I'll check the pull request you submitted with the team ⭐

[2022-05-04 05:32] asheeeshh commented on #2048
I can't add the labels myself though, would like you to check this pr #2461 as it was closed by the bot.

[2022-05-04 05:48] MuhammadAhmed8 commented on #300
Same here. Bad Gateway error.

[2022-05-04 06:07] #1877 closed

[2022-05-04 06:08] #2409 closed

[2022-05-04 06:10] #2639 closed

[2022-05-04 06:11] elisemoe commented on #793
I've updated your shipping information. Thanks for letting us know @atik1n!

[2022-05-04 06:56] itsRkator opened #2791 "Unable to add to GitHubGraduation-2022"
My PR closed without merging with the response that I graduated the previous year but I'm graduating this year only.

I'm attaching my Institute ID card herewith for your reference.

[2022-05-04 07:00] ankushKun commented on #1877
@elisemoe I still have the same issue with PR #2794
Will be glad if you could check it and resolve manually ☺️
Thank you

[2022-05-04 07:17] StoreksFeed commented on #2642
@juanpflores update the address for PR #538 please

[2022-05-04 07:22] Mohnish226 commented on #2642
@juanpflores  I also had to update my address for [#90](https://github.com/education/GitHubGraduation-2022/pull/90). Please use the most recent address; I have resubmitted the form. Thank you very much

[2022-05-04 08:00] Xunzhuo commented on #2642
Me too, please update my address for https://github.com/education/GitHubGraduation-2022/pull/1386

[2022-05-04 08:01] Xunzhuo opened #2820 "Translation: Add Chinese Translation README"

[2022-05-04 08:03] Xunzhuo commented on #2820
cc @juanpflores @elisemoe

[2022-05-04 08:43] StoreksFeed opened #2841 "Added Russian translation"
Since `enhancement` label seems to be blocked for manual addition, here's an Issue for merging #2839

[2022-05-04 08:54] kai0310 opened #2844 "Added Japanese translation"
Translated into Japanese to encourage more alumni to attend this event 🙌

[2022-05-04 09:34] AkmalPratama commented on #1877
Is it cache problem? Cause I didn't even created PR last year yet still tagged as previously graduated #2855

[2022-05-04 09:37] Lesterrry opened #2863 "Added Russian translation"
I've translated the README.ru.md and added necessary links in both the main README and the README in `./translations`.
#2856

[2022-05-04 09:43] MrAppu commented on #1877
@elisemoe It is still a problem. Is it really a cache problem?

[2022-05-04 10:06] idleboy4038 commented on #1747
![image](https://user-images.githubusercontent.com/62786811/166662011-c62b82bb-ce8b-4005-9e9b-7ac3c1f3d97e.png)

I already have it.

[2022-05-04 12:41] Nanofaux opened #2945 "Bot saying I'm not in the Student Developer Pack when I am"
The bot says that it's "not seeing a valid student developer pack approval", yet I am approved and I can confirm this when I go to the site
![image](https://user-images.githubusercontent.com/26722651/166683049-d39e3353-23a6-4ff2-91de-94cacf623337.png)
How can I fix this?

[2022-05-04 13:09] MrAppu commented on #1539
Nope, still not working D:

[2022-05-04 13:33] Laeng opened #3001 "My student pack has already expired."
In Korea, the semester starts in March and ends in February.
My student pack already expired in March, what should I do?

#2987

[2022-05-04 13:35] StoreksFeed commented on #2841
A better option at #2863 is available

[2022-05-04 13:35] #2841 closed

[2022-05-04 14:19] Laeng commented on #3001
Hi htcrefactor!

I just applied with my graduation certificate attached to the student discount request.
How about you applying too?

(The application number has a unique number in the address of the page indicating that the application has been completed.)

[2022-05-04 14:54] harshit-paneri commented on #2791
Hey ROHITASH,
 What comment is mention in your PR ?

[2022-05-04 15:53] itsRkator commented on #2791
Hi itsRkator,
Welcome to graduation!

I'm really sorry! It looks like you've already graduated in a previous year. This is for first time grads!

<img width="1246" alt="image" src="https://user-images.githubusercontent.com/43729042/166720974-e7aa1bfa-abb0-4d93-a1f7-4c1e148a4fcf.png">

[2022-05-04 16:03] gabuvns commented on #2945
I'm currently facing the same problem here!

[2022-05-04 16:24] #2844 closed

[2022-05-04 16:28] #2863 closed

[2022-05-04 17:55] CloudDev-Harsh opened #3129 "After getting ready to merge, Do i have to do anything ?"

[2022-05-04 18:03] #3129 closed

[2022-05-04 18:34] otelo2 opened #3145 "Added Spanish translation"
Added in PR #3141.
Let me know if there is any other changes needed.
I hope this encourages more people from spanish speaking communities to participate.

[2022-05-04 18:59] itsRkator commented on #2791
Yes

[2022-05-04 19:21] harshit-paneri commented on #2791
delete that repo, then try it again

[2022-05-04 20:35] Nevalicjus opened #3196 "Added Polish translation"
I've translated the README to Polish in #1922

[2022-05-04 20:42] juanpflores commented on #2945
✅ I have validated that both @gabuvns and @Nanofaux have a valid SDP
ℹ️ _@Nanofaux I don't appreciate that your website Rick Rolled our team..._

[2022-05-04 20:44] juanpflores commented on #3196
Thanks for submitting this translation @Nevalicjus ❇️

[2022-05-04 20:48] juanpflores commented on #3196
✅ LGTM will merge in a few

[2022-05-04 21:48] #3196 closed

[2022-05-04 22:06] 54yyyu commented on #2945
I have the same issue too!

[2022-05-04 22:10] juanpflores commented on #2945
✅ Fixed all of them.

Solution: If you experience the problem you can request another review from the bot. If it fails again give it a couple of hours to recover. Otherwise ping me in this issue and I'm happy to jump in 🔬

[2022-05-04 22:35] Mxrcon opened #3231 "PR merged but no message"
Hey :wave:,

my PR was merged (https://github.com/education/GitHubGraduation-2022/pull/2060) but i haven't received the congratulations message that everyone recieved, is there any problem with my participation?

Kindly, Davi

[2022-05-04 22:49] juanpflores commented on #3231
The bot took some extra time to congratulate you ⭐

[2022-05-04 22:49] #3231 closed

[2022-05-04 23:02] Mxrcon commented on #3231
thank you @juanpflores

[2022-05-04 23:48] Laeng commented on #3001
Hey, htcrefactor!
I have a good news.
My GitHub student develop pack application has been approved and my pull request has passed the validation test!

[2022-05-05 00:06] Laeng opened #3255 "Add Korean translation."
I have translated guide for people who like and use Korean.
I hope that you display "한국어" at language list when applying my results.

Thank you.

p.s
Ooops, I should have made a pull request by making it into a different branch, but I uploaded it. sorry.
Please check my pull request #2987

[2022-05-05 00:07] Nanofaux commented on #2945
@juanpflores I tried after a few hours and it still says I'm not eligible again. The PR is [here](https://github.com/education/GitHubGraduation-2022/pull/3253) if you need to see

[2022-05-05 00:08] otelo2 commented on #3145
Merged.
Thanks :)

[2022-05-05 00:08] #3145 closed

[2022-05-05 02:22] itsRkator commented on #2791
I already deleted last year's GitHubGraduation repo. Still facing same issue.

[2022-05-05 02:23] juanpflores commented on #2642
✅ Update all three!

[2022-05-05 02:24] juanpflores commented on #2945
Weird. I just requested a review again and it found you. I'll take a look into this 👀

[2022-05-05 02:25] MrAppu commented on #1539
@elisemoe Any updates? I request you to open this issue again :D

[2022-05-05 02:36] juanpflores commented on #3255
✨ Thank you for sharing this 🎓

[2022-05-05 02:36] #3255 closed

[2022-05-05 03:03] MrAppu opened #3306 "The problem of the bot stating that you have previously graduated remains."
I tried again and again for 7 times and still is not working. I thought the open pull request of the 2021 was conflicting with it. So I closed it and tried again. Still it is not working :-(

[2022-05-05 03:35] gabuvns commented on #2945
Everything good here! Thanks for the help!

[2022-05-05 04:50] juanpflores commented on #305
✅ The link was updated

[2022-05-05 04:50] #305 closed

[2022-05-05 04:50] juanpflores commented on #305
Thanks for reporting this 👾

[2022-05-05 05:17] e6654321 commented on #300
I have the same issue, using chrome and edge

[2022-05-05 06:05] nameisazeem opened #3363 "My official graduation year is 2022 but it is showing you're previously graduated."
My official graduation year is 2022, but it shows you're previously graduated while creating a pull request. Kindly do the needful.

[2022-05-05 06:06] nameisazeem commented on #3306
I am also facing the same issue here.

[2022-05-05 06:57] Saket-Upadhyay opened #3389 "Added Hindi translation"
Hi, I've added the Hindi Translation of README.md :) #3384

[2022-05-05 06:58] Saket-Upadhyay commented on #3389
please list it as "हिन्दी" in the language list, it will help people who speak Hindi to find it easily.

[2022-05-05 07:03] harshit-paneri commented on #3389
Hey @Saket-Upadhyay 👋🏻,
It's really a nice thing done by you, It helps lot of people, I have a suggestion to make hyper link of some things like **add calendar** , **community** and etc.

[2022-05-05 07:04] harshit-paneri commented on #3363
It may be you did it last year also, or you fork 2021 repo also

[2022-05-05 07:05] harshit-paneri commented on #2791
Did you send any PR in last year Repo if yes so is it merged or not ?

[2022-05-05 07:44] OmarDev100 opened #3413 "Custom Trading Card Edit"
Hello @github-education @elisemoe!

Kindly, I would request an edit in my **Custom Trading Card**.

I have 2 **GitHub** accounts:

- **OmarDev100 - I have the Student Pack in it - I don't use it a lot**
- **Omar8345 - I don't have the Student Pack in it - I use it a lot - My Main Account**

So as you would expect, I would like to have a trading card for **Omar8345** as I have more activity in it a

[2022-05-05 07:47] Saket-Upadhyay commented on #3389
Thanks, @harshit-paneri, I've already added the Calendar and Community link as in mentioned in the main Readme.md. You can check the same from Line 85 to 90 in the file. Let me know if that's what you were suggesting?

[2022-05-05 08:07] harshit-paneri commented on #3389
Ok , it's nice
Wait till when they assign you and then again send a new PR

[2022-05-05 09:56] dsrkafuu commented on #2642
Hi @juanpflores,

I found that the address I previously submitted may have had some problems receiving mail months later, so I resubmitted the form with my new address and my legal name.

Can you update those for #2614?

[2022-05-05 10:48] pknn opened #3504 "Add Thai Translation"

[2022-05-05 12:22] ATLANTer opened #3531 "Russia was not in shipping form"
When I sent shipping form for the first time, I not found Russia in country list and I selected Belarus. Recently I decided to look again and I found Russia in country list. I sent shipping form for the second time. It is will be ok?

[2022-05-05 13:58] richarddushime opened #3578 "Added French Translation"
This PR i added the French Translation for  French Speakers
[PR](https://github.com/education/GitHubGraduation-2022/pull/3572)

[2022-05-05 19:05] yashash1511 opened #3752 "I am approved for the student dev pack but still it show I'm not seeing a valid student developer pack approval"
It says 'I'm not seeing a valid student developer pack approval' even when I am #3727

![image](https://user-images.githubusercontent.com/89068816/167006047-e54ff121-2de7-427e-a14a-bb170893da96.png)
i even submitted a new request just in case and got approved again

[2022-05-05 19:49] fybx opened #3777 "Added Turkish translation"
PR is #3769. I am not eligible for graduation, how can I get my PR accepted by the bot without applying to graduation?

[2022-05-05 20:09] juanpflores commented on #3413
✅ updated the username

[2022-05-05 20:09] #3413 closed

[2022-05-05 22:19] #3389 closed

[2022-05-05 22:34] juanpflores commented on #2642
✅ @dsrkafuu updated your address with the latest information.

[2022-05-05 22:34] juanpflores commented on #3578
✅ Closing as merged

[2022-05-05 22:34] #3578 closed

[2022-05-05 22:54] juanpflores commented on #3777
⭐ All set

[2022-05-05 22:54] #3777 closed

[2022-05-06 01:53] elisemoe commented on #3531
Thanks for letting us know @ATLANTer! Apologies for the confusion. I've checked both your submissions are updated to Russia and should be good ✅

[2022-05-06 01:53] #3531 closed

[2022-05-06 02:32] asheeeshh commented on #3752
https://github.com/education/GitHubGraduation-2022/issues/2945#issuecomment-1117981749

[2022-05-06 02:58] OmarDev100 commented on #3413
Thank you

[2022-05-06 03:26] MrAppu commented on #3306
@elisemoe Any updates?

[2022-05-06 03:52] yashash1511 commented on #3752
ok thank you

[2022-05-06 03:52] #3752 closed

[2022-05-06 03:55] yashash1511 commented on #2945
@juanpflores it still says no _I'm not seeing a valid student developer pack approval_ #3727

[2022-05-06 05:55] kalrayatin opened #3937 "Adding Punjabi Translation"
Hi! I was adding Punjabi Translation of README.md under #3932. Can you please check and do the needful.

[2022-05-06 06:51] prabincankod opened #3959 "Added Nepali translation"

[2022-05-06 06:54] prabincankod commented on #3959
Closes #3957

[2022-05-06 06:57] prabincankod commented on #3959
Closes#3957

[2022-05-06 07:24] OmarDev100 opened #3981 "Swag shipment"
May I please have my shipment delivered with **[UPS](https://www.ups.com/)**?

[2022-05-06 07:28] Abhishek4uh commented on #3363
@nameisazeem same with me, have you found any solution?

[2022-05-06 09:51] yashpaneliya opened #4034 "Can't sign up as it says Previously Graduated."
Can't sign up as it says Previously Graduated.

Definitely do not have my data in https://github.com/education/GitHubGraduation-2021/tree/main/_data or https://education.github.com/graduation/yearbook?sort=az&page=-1&search=yashpaneliya

Please resolve this issue @github-education @elisemoe @juanpflores

PR for Graduation-2022: #4027

[2022-05-06 09:58] MrAppu commented on #4034
@elisemoe  How about making the bot look at the yearbook data? Sorry if the bot is already doing that.

[2022-05-06 10:21] Nevalicjus commented on #3196
I've fixed the translation a bit in #4049 😅

[2022-05-06 13:33] #3306 closed

[2022-05-06 13:35] yashpaneliya commented on #3306
Issue resolved? @MrAppu

[2022-05-06 13:38] MrAppu commented on #3306
Yash, try looking for your name in the _data .

[2022-05-06 13:38] MrAppu commented on #3306
I saw my folder there lol

[2022-05-06 13:51] yashpaneliya commented on #3306
Mine is not there!

[2022-05-06 15:54] AnkushSinghGandhi commented on #4034
me too

[2022-05-06 16:01] n1k0ver3E commented on #2945
@juanpflores Hi, I graduate in Feb. 2022 so the SDP has been out of date. Is it possible for me to join the event?
I register SDP in 2020.
![image](https://user-images.githubusercontent.com/14194564/167169787-4cba7fb8-52f5-4ae9-8486-e1e6f7c867d1.png)

My PR here ➡️  #4161

[2022-05-06 16:06] MrAppu commented on #3306
Wait a minute Yash, [oh man you had closed the request last time eh](https://github.com/education/GitHubGraduation-2021/pull/8055). I think elisemoe or juan is your only hope :(

[2022-05-06 16:08] yashpaneliya commented on #3306
Already tried to tag them

[2022-05-06 16:24] nameisazeem commented on #3363
Not yet @Abhishek4uh

[2022-05-06 16:40] yashash1511 commented on #2945
@juanpflores my PR#3727 bot still says

![image](https://user-images.githubusercontent.com/89068816/166994436-d5e14ee7-2d77-4a9f-b7ab-a5bc67d45ff4.png)
i even got it reapproved yesterday just in case

[2022-05-06 16:52] MrAppu commented on #3306
Mention them in the issues , Lets hope they see it tonight and before 7.5k pull request

[2022-05-06 17:21] #3504 closed

[2022-05-06 17:36] benni347 opened #4197 "Added german translation"
Added a german translation in #4187

[2022-05-06 17:53] coderj001 opened #4202 "What's"

[2022-05-06 17:53] #4202 closed

[2022-05-06 18:34] juanpflores commented on #2945
I have updated both ⭐ @yashash1511 @n1k0ver3E

[2022-05-06 18:40] juanpflores commented on #3196
Updated !

[2022-05-06 20:03] anishagg17 commented on #2642
Hi @juanpflores,

I've submitted the form, can you please update #4239

[2022-05-07 01:04] htcrefactor commented on #3001
Okay, let me give it a try. 감사합니다! :)

[2022-05-07 02:41] kalrayatin commented on #3937
How I have to proceed further?

[2022-05-07 03:30] #4197 closed

[2022-05-07 03:42] #3959 closed

[2022-05-07 03:59] elisemoe commented on #4034
Hi everyone 👋 sorry for the frustrations!

@yashpaneliya @MrAppu @nameisazeem @AnkushSinghGandhi your PRs have all now been merged.

[2022-05-07 03:59] #4034 closed

[2022-05-07 04:00] elisemoe commented on #3937
Thanks, @kalrayatin! I've merged your translations. ✨

[2022-05-07 04:00] #3937 closed

[2022-05-07 04:02] elisemoe commented on #3363
Thanks, everyone for letting us know! Your PRs have now been merged.

[2022-05-07 04:02] #3363 closed

[2022-05-07 04:03] elisemoe commented on #2791
Hi @itsRkator 👋 sorry for the frustration! Can you please open a new PR and post the link here? I'll manually review it.

[2022-05-07 04:09] itsRkator commented on #2791
Hi @elisemoe,
Here is the link to my PR: https://github.com/education/GitHubGraduation-2022/pull/4288

[2022-05-07 04:09] elisemoe opened #4290 "Reviewer saying I've "Previously Graduated" when I haven't ➡️"
We understand there is a bug with the reviewer. If you have opened a Pull Request or filled out the shipping form for a previous event, even if you did not end participating, you're Pull Request has likely been closed by the reviewer and labeled "Previously Graduated".

If you believe there has been a mistake and you did not participate in a past graduation ceremony, **please post a link to your P

[2022-05-07 04:12] #2791 closed

[2022-05-07 04:13] #2945 closed

[2022-05-07 04:14] #608 closed

[2022-05-07 04:22] itsRkator commented on #2791
Hi @elisemoe 👋🏻 , Thank You for the help 😁.

[2022-05-07 04:35] dsshivamsingh commented on #2945
@juanpflores  I am facing the same issue , I have followed the whole guideline  and i also have the github student developer pack but my pr is being closed automatically as checker says I don't have GSDP , adding my PR here[https://github.com/education/GitHubGraduation-2022/pull/4066](url)

[2022-05-07 04:57] AkmalPratama commented on #4290
#3877

[2022-05-07 07:07] OmarDev100 commented on #3981
@elisemoe @github-education

[2022-05-07 07:09] abhinandanarya06 commented on #4290
#4312

[2022-05-07 10:26] chiquidev opened #4369 "Reviewer says that i've not completed the form."
I've succesfully completed the form, but the reviewer says that i've not sended it. How can I solve that?
![image](https://user-images.githubusercontent.com/38810865/167250372-b57a4f30-b47c-4bc8-abea-7bed7239970d.png)

[2022-05-07 14:06] AdalbertPungu opened #4398 "My GitHubGraduation-2022"

[2022-05-07 14:18] #4398 closed

[2022-05-07 16:26] VellichorAT commented on #4369
Maybe you have mistaken your username (chiquidev) and nickname(Chiqui) in the form? I've meet this problem before.

[2022-05-07 16:34] chiquidev commented on #4369
In the GitHub Username field I put "chiquidev", this is what I should have put, right?

[2022-05-07 16:45] chiquidev commented on #4369
Solved, i've deleted the form and re-maked it again ;)

[2022-05-07 16:45] #4369 closed

[2022-05-07 17:36] pritydhara commented on #4290
#4458

[2022-05-07 18:13] Sanan4li commented on #4290
https://github.com/education/GitHubGraduation-2022/pull/4486

[2022-05-07 18:59] Harshshahi99 opened #4499 "I'm not yet graduate"
**Hi Harshshahi99,**
**Welcome to graduation!**

I'm really sorry! It looks like you've already graduated in a previous year. This is for first time grads!

_Originally posted by @github-education in https://github.com/education/GitHubGraduation-2022/pull/4498#pullrequestreview-965355928_

[2022-05-07 19:06] Harshshahi99 opened #4502 "I haven't graduate yet"
(PR #4501)

[2022-05-07 21:01] anjali1102 opened #4530 "I 'am not graduated and closing PRs"
hey I am Anjali, my PRs are automatically getting closed saying you're graduated . I am not graduated, I will be graduating in  coming June 2022
#505
#2400
are my closed PRs

can you please look into this 😥

[2022-05-08 02:16] antoniomd-fi commented on #2642
Hi @juanpflores,

I submitted two diferents forms. Can you use the last form to my shipping?, that have the correct address.

I'm #3925.

Thanks.

[2022-05-08 02:27] qwertyreboot commented on #4290
#4283

[2022-05-08 08:12] dilemmawalker commented on #4290
https://github.com/education/GitHubGraduation-2022/pull/4602

[2022-05-08 09:10] moli-debugger commented on #4290
#4607

[2022-05-08 09:15] moli-debugger commented on #2642
Hi @juanpflores,

I submitted two different forms. Can you use the last form to my shipping please?, that have the correct address.

I'm #4607

[2022-05-08 10:39] Laeng commented on #3001
Yes, Your right, the Student Developer Pack is only available to students.
I hope your problem is well resolved.

[2022-05-08 11:07] RupomChowdhury commented on #4530
it is what it is.. check in 2021's PR list..

[2022-05-08 11:10] RupomChowdhury commented on #4530
it is what it is...now sleep!  https://education.github.com/graduation/yearbook?sort=az&page=27&search=anjali1102#anjali1102

[2022-05-08 11:12] htcrefactor commented on #3001
Thanks, I'll try to get a sound solution with the information you provided. 감사합니다!

[2022-05-08 11:59] nikhilvenkatkumsetty opened #4635 "My pull request is not getting accepted"
I initially submitted a pull request with a valid student developer pack, and it was accepted. I made some changes to my file and now it's not accepting my pull request.

[2022-05-08 12:07] krish-pabani commented on #4290
#4636

[2022-05-08 12:47] amaan-p opened #4647 "Been Waiting For days still Pull Request Merge Is Pending"
I Really don't know what's the issue or maybe the mods are just busy but its been like days since I did the steps. Any information regarding my pull request would be appreciated

[2022-05-08 12:49] amaan-p commented on #4647
pull request #4235

[2022-05-08 12:56] preetvadaliya commented on #4290
#4651

[2022-05-08 14:30] #4635 closed

[2022-05-08 16:30] RupomChowdhury opened #4768 "Added Bangla Language [Merge Please]"
I am previously Graduated that why it's closing my pull request. I'm not here to submit any pull for the yearbook of 2022 graduation. I have just translated it to Bangla.

So hope @elisemoe or other staff will help to merge these PR.

[PR for Adding Bangla](https://github.com/education/GitHubGraduation-2022/pull/4750)
[PR for Adding Author](https://github.com/education/GitHubGraduation-2022/pull/4

[2022-05-08 20:44] dsshivamsingh opened #4848 "Is not verifying GSDP if user has changed their username"
I have changed my  github username after  getting SDP and  the bot can't verify my gsdp although i have it

[2022-05-09 02:33] nikhilvenkatkumsetty opened #4858 "pull request not merged"
I have performed the necessary steps and my pull request #4460 is still not merged. Please provide an update.

[2022-05-09 03:49] mrepol742 commented on #2642
Hi @juanpflores,

I submitted two different forms. Can you use the last form to my shipping please?, that have the correct address.

I'm #35

Thanks.

[2022-05-09 04:43] juanpflores commented on #2945
@dsshivamsingh You're all set ✅

[2022-05-09 05:18] juanpflores commented on #2642
@anishagg17 ✅ we used the latest form you submitted
@antoniomd-fi we only found one form with your username on it
@moli-debugger ✅ updated
@mrepol742 ✅ updated

[2022-05-09 05:22] #4647 closed

[2022-05-09 05:44] prithvirajbytes commented on #4290
#4903

[2022-05-09 06:36] creatorpiyush opened #4919 "My pull request Not Merged #4471"
My pull request is not Merged #4471

[2022-05-09 06:47] antoniomd-fi commented on #2642
@juanpflores  I've just resubmitted the form with te correct address.

Thanks!

[2022-05-09 07:33] Naveenkumar0405 commented on #4290
#4935

[2022-05-09 07:41] Naveenkumar0405 commented on #4290
#4935

[2022-05-09 07:56] nikhilvenkatkumsetty commented on #4858
PR #4460

[2022-05-09 08:08] SupaliOjha commented on #4290
https://github.com/education/GitHubGraduation-2022/pull/4947#issue-1229333544

[2022-05-09 12:43] Nerodacles commented on #2642
Hi, @juanpflores,
Please update my shipping address please? PR #2460

[2022-05-09 15:18] nikhilvenkatkumsetty commented on #4858
issue resolved

[2022-05-09 15:43] #4919 closed

[2022-05-09 16:13] juanpflores commented on #2642
Hey @OmarDev100 I'm not entirely sure which shipping company we will be using. I will pass the note along to see what options we have.

[2022-05-09 16:50] juanpflores commented on #2642
✅ Updated @antoniomd-fi @Nerodacles

[2022-05-09 17:17] ajpalok commented on #4768
Already added Bangla Translation from #4436

[2022-05-09 17:37] RupomChowdhury commented on #4768
lol.. I added it first and I think this one is more standard... but great and thanks for adding bn again!

[2022-05-09 17:59] ajpalok commented on #4768
Thanks for your opinion and also for the criticism 🥰 You can edit in the transition for the betterment and make a PR for upgrade with that Thanks again 🥰

[2022-05-09 22:00] EmmahCodes254 commented on #4290
[#5113](https://github.com/education/GitHubGraduation-2022/pull/5113)

[2022-05-10 00:44] PradyumnaKrishna commented on #4290
#4106

[2022-05-10 08:49] abdorizak opened #5166 "Added Somali Language [Merge Please]"
I can't Join the GitHub Graduation 2022, and also I have just translated it to Somali.

so, i hope team will review my Translation.

thanks

[2022-05-10 11:51] Hirmay commented on #4290
[#7726](https://github.com/education/GitHubGraduation-2021/pull/7726)

[2022-05-10 17:18] eduantvarmau opened #5224 "I do not admit the length of my name"
My name has more than 28 characters,  name is Eduardo Antonio Vargas Mauricio

[2022-05-10 18:48] elisemoe commented on #5166
That's so thoughtful @abdorizak! 💖  Do you mind posting a link to your Pull Request?

[2022-05-11 01:30] RupomChowdhury commented on #5166
Hi, @elisemoe merge these two PR before him. Otherwise it would be a code issue if my PR is merged later! I also mentioned my PR in [this issue](https://github.com/education/GitHubGraduation-2022/issues/4290).
[#4750](https://github.com/education/GitHubGraduation-2022/pull/4750)
[#4756](https://github.com/education/GitHubGraduation-2022/pull/4756)
Thanks

[2022-05-11 01:32] RupomChowdhury commented on #4768
Hi, @elisemoe I mentioned my PR in [this issue](https://github.com/education/GitHubGraduation-2022/issues/4290).
[#4750](https://github.com/education/GitHubGraduation-2022/pull/4750)
[#4756](https://github.com/education/GitHubGraduation-2022/pull/4756)
Thanks

[2022-05-11 04:57] nitish-awasthi commented on #4290
#5263

[2022-05-11 05:16] abdorizak commented on #5166
Hi @elisemoe thanks, this is the pull request.
Somali translation added #5062

[2022-05-11 06:11] RupomChowdhury commented on #4290
[#5272](https://github.com/education/GitHubGraduation-2022/pull/5272)
Didn't received Swag Last year.
[Last Year Issue.](https://github.com/education/GitHubGraduation-2021/issues/10470#ref-pullrequest-1232058839=)

[2022-05-11 10:02] Shrit1401 commented on #2642
@juanpflores  I have updated my details in the shipping form kindly check

[2022-05-11 12:45] Apitpr0 opened #5311 "Request to remove my name from yearbook"
Hello there,
just got an update from university that i will be graduating in 2023 not 2022
So can you guys remove my name from this year's yearbook?
Thanks :)

[2022-05-11 14:33] OmarDev100 commented on #5311
Oh, such sad 4 u, good luck next year :wink:

[2022-05-11 15:18] ajpalok commented on #4768
This comment misleading the existing work @RupomChowdhury

[2022-05-11 15:33] Apitpr0 commented on #5311
Yeah man.. Sure thing will make sure next year i pass with flying colors

[2022-05-11 16:17] juanpflores commented on #2642
✅ @Shrit1401 updated

[2022-05-11 18:03] #5311 closed

[2022-05-11 18:55] krish-pabani opened #5358 "Can't sign up as it says Previously Graduated."
Can't sign up as it says Previously Graduated.

Definitely do not have my data in https://github.com/education/GitHubGraduation-2021/tree/main/_data or https://education.github.com/graduation/yearbook?sort=az&page=-1&search=krish-pabani

Please resolve this issue @github-education @elisemoe @juanpflores

PR for Graduation-2022: #4636

[2022-05-11 19:21] supersharmapunit commented on #4290
#5361

[2022-05-11 19:24] supersharmapunit commented on #4290
#5361

[2022-05-12 00:13] lasr21 commented on #5224
may I suggest that you use only your first name and last, so it could fit the length requirements Eduardo Vargas could work or Eduardo A. Vargas, and if you want to use your full name, perhaps Eduardo A. Vargas Mauricio

[2022-05-12 00:16] eduantvarmau commented on #5224
I like this change:
Eduardo A. Vargas Mauricio

[2022-05-12 22:21] #5224 closed

[2022-05-13 04:50] shaikhul commented on #2642
❓ I put my US address as shipment but will be traveling next week, wondering whats the probability to get the shipment before 22nd or should I go ahead and update my shipping address? @juanpflores

[2022-05-13 05:33] ankushKun commented on #4290
#2794

[2022-05-13 11:37] mihirmk commented on #4290
[#5530](https://github.com/education/GitHubGraduation-2022/pull/5530)

[2022-05-13 17:40] juanpflores commented on #2642
Swag won't be delivered before the 22nd

[2022-05-13 18:34] ajpalok opened #5552 "Translation link error of 404 in Main README page"
This link error is causing a `404 page not found` issue discussed & fixed in #5264

[2022-05-14 06:43] oshi36 commented on #4290
[#4666](https://github.com/education/GitHubGraduation-2022/pull/4666)

[2022-05-14 18:16] iXeor opened #5632 "Update translations in Chinese"
Please Review this PR and give me some feedback.
请Review PR然后给我一些反馈信息（比如翻译勘误等）
兄弟们，我翻译的不咋好，帮忙看一下，感觉哪不行提出来咱们慢慢改。
[ PR #4190 ](https://github.com/education/GitHubGraduation-2022/pull/4190)

[2022-05-14 18:20] iXeor commented on #5632
@elisemoe  Ahh...By the way. Excuse me,Elise.If it's unready for merge,plz give me some feedback.

[2022-05-15 02:40] htcrefactor commented on #3001
@elisemoe Hi, I would love to get feedback on this issue. I graduated at Feb 2022, and currently SDP has been expired.
I think I'm in the same situation as this [post](https://github.com/orgs/github-community/discussions/99) in GitHub Discussions.

This is [my post](https://github.com/orgs/github-community/discussions/108) in GitHub Discussions, and [this](https://github.com/education/GitHubGradua

[2022-05-15 07:00] sudhanshut opened #5663 "saying previous graduate but i'm not"
https://github.com/education/GitHubGraduation-2022/pull/5662

[2022-05-15 08:13] SushantSingh2 opened #5669 "GitHub says I'm Graduated but currently I'm persuing my Graduation"
Hi,
### GitHub says I'm Graduated but currently I'm persuing my Graduation.
Please check again and resolve my issue.
I had uploaded my  college ID card which has clearly written 19-2022 batch.

To, @github-education ,

[2022-05-15 12:42] synalice opened #5683 "Deleting fork of this repo"
Can I do that? Can I delete the fork of this repo if my PR has been successfully merged?

[2022-05-15 12:51] Sanan4li commented on #5669
Hi Sushant,
Please mention your PR link here https://github.com/education/GitHubGraduation-2022/issues/4290

[2022-05-15 12:52] Sanan4li commented on #5663
Hi, please mention your PR here https://github.com/education/GitHubGraduation-2022/issues/4290

[2022-05-15 12:54] SushantSingh2 commented on #4290
#5669

[2022-05-15 12:56] sudhanshut opened #5685 "say im previously graduated"
https://github.com/education/GitHubGraduation-2022/pull/5662

@github-education

[2022-05-15 18:36] Rocker2102 commented on #5683
Yes, you may.

[2022-05-16 02:02] HydroPlume commented on #2945
@juanpflores Having the same issue with my pull request #5712, despite having been verified last September:

![proof of verification](https://user-images.githubusercontent.com/32257234/168507460-f8ffbb8a-d3a3-4851-807e-aded5e90c271.png)

[2022-05-16 05:24] juanpflores commented on #5683
✅ You can delete the fork after your submission has been merged without having any impact on your submissions to the yearbook

[2022-05-16 05:24] #5683 closed

[2022-05-16 05:33] juanpflores commented on #5552
✅ Changes approved

[2022-05-16 05:33] #5552 closed

[2022-05-16 05:34] juanpflores commented on #5552
Thanks for letting us know about this ✨

[2022-05-16 23:11] juanpflores commented on #2945
✅ validated @HydroPlume

[2022-05-17 17:23] donno2048 commented on #5685
#4290

[2022-05-19 04:01] daminebenq commented on #5358
https://github.com/education/GitHubGraduation-2021/pull/1657 samething here
I didn't receive my SWAG shipment yet.

[2022-05-19 04:44] daminebenq commented on #4290
[#5939](https://github.com/education/GitHubGraduation-2022/pull/5939)

[2022-05-19 08:36] Loner291999 commented on #2642
@juanpflores pls can you update the shipping info for https://github.com/education/GitHubGraduation-2022/pull/781#event-6541824993 , i sent a new form thanks!

[2022-05-19 21:32] #5632 closed

[2022-05-19 21:35] juanpflores commented on #300
Closing this issue as the problem has been resolved

[2022-05-19 21:35] #300 closed

[2022-05-19 21:39] juanpflores commented on #4499
✅ Reviewed and soon to be merged

[2022-05-19 21:39] #4499 closed

[2022-05-19 21:47] juanpflores commented on #4530
Found in last year's graduation

[2022-05-19 21:47] #4530 closed

[2022-05-19 21:48] juanpflores commented on #4848
✅  PR was merged #4066

[2022-05-19 21:48] #4848 closed

[2022-05-19 21:58] juanpflores commented on #5669
Hi there! I removed your badge since it has a ton of personal data. Closing this issue as we were unable to find your PR

[2022-05-19 21:58] #5669 closed

[2022-05-19 22:06] juanpflores commented on #3981
We don't have a clear shipping company for this year. We are unable to confirm this will be delivered using UPS

[2022-05-19 22:06] #3981 closed

[2022-05-19 22:17] #4502 closed

[2022-05-19 22:18] #5358 closed

[2022-05-19 22:21] #5685 closed

[2022-05-19 22:21] #5663 closed

[2022-05-19 22:42] daminebenq commented on #5358
Hello @juanpflores,

Can you please review this and provide me with more informations about it? https://github.com/education/GitHubGraduation-2021/pull/1657
I would love to receive the SWAG kit from Github <3

Cordially.
Mohamed.

[2022-05-19 22:48] juanpflores commented on #5358
Do you mind sending us DM on Twitter for our team to follow up on this?

[2022-05-20 06:20] samuelramox commented on #4290
https://github.com/education/GitHubGraduation-2022/pull/5992

[2022-05-20 12:28] Rohan-cod commented on #4290
#6021

[2022-05-20 16:24] holiq commented on #2642
@juanpflores I have submit on the form but did not receive a confirmation email, is it really like that? Do I have to fill out the form again?

[2022-05-20 19:24] callumok2004 commented on #4290
#6052

[2022-05-20 20:58] callumok2004 opened #6068 "Says previous registered though I have not"
#6052 - I have not been part of github graduations before.
I don't want to miss out due to to many people registering before I was manually verified due to the bot having an issue.

[2022-05-20 22:29] Aqib-ur-Rahman opened #6109 "Looking forward to participate"

[2022-05-20 22:30] Aqib-ur-Rahman commented on #6109
Excited for it

[2022-05-20 23:14] paovazq commented on #4290
#6178

[2022-05-20 23:21] gangapurambhargav opened #6196 "Reviewer says I've "Previously Graduated" but I haven't"

[2022-05-20 23:52] ash1sh95 commented on #4290
[#6226 ](https://github.com/education/GitHubGraduation-2022/pull/6226)

[2022-05-21 03:08] Sachwin-Kohli opened #6417 "How do I join in for the graduation?"

[2022-05-21 04:14] Zeus-HackOlympus opened #6464 "Please take a look i think this auto check is erroneous"
**Hi Zeus-HackOlympus,**
**Welcome to graduation!**

### I have a few items I need you to take care of before I can merge this PR:

* *Please take another look at your markdown file, there are errors:*
	*The yaml content in `_data/Zeus-HackOlympus/Zeus-HackOlympus.md` must contain your github username*
*The attribute `name` is required in `_data/Zeus-HackOlympus/Zeus-HackOlympus.md`*
*The attribut

[2022-05-21 04:22] callumok2004 commented on #4290
https://github.com/education/GitHubGraduation-2022/pull/6052

[2022-05-21 04:26] #6464 closed

[2022-05-21 06:24] RupomChowdhury commented on #4290
@elisemoe @juanpflores no update. when you guys will look into this!?

[2022-05-21 07:23] RUTHVIKCHINTAPALLI opened #6623 "Re verify"
**Hi RUTHVIKCHINTAPALLI,**
**Welcome to graduation!**

### I have a few items I need you to take care of before I can merge this PR:

* *It looks like you still need to fill out the [shipping form](https://airtable.com/shrVMo8ItH4wjsO9f) to continue*
* *You need to agree to our COC on the shipping form pretty please!*

Feel free to re-request a review from me and I'll come back and take a look!

_

[2022-05-21 09:20] AounNaqvi173 commented on #5166
hello @elisemoe , please merge #6036 , I added Urdu translation

[2022-05-21 09:52] Omar-Khas opened #6705 "PR taking to long to be merged"
It's been 2hrs since my PR changes have been approved but until now none of the reviewers have checked if I'm compliant with the COC. I've checked other people's PRs and they are being merged after an hour or less. OtherPRs have been merged although they've been created later than mine. Anyone knows if there's something I can or should do other than waiting? Here's a link to my PR:
[https://github

[2022-05-21 10:06] okcd00 commented on #4290
#6713

[2022-05-21 10:14] seia-soto commented on #6705
Not PRs of every body here are merged immediately right after their PRs being flagged as ready to merge. It's because reviewers are human just like us, not kind of bot. Eventually, you need to wait for reviewers.

You can check out the merge status on following url:
- https://github.com/education/GitHubGraduation-2022/pulls?q=is%3Apr+is%3Amerged+sort%3Acreated-desc

[2022-05-21 12:31] nikhiltripathi1 commented on #4290
#6779

[2022-05-21 15:27] timothy-brian opened #6868 "Failed to add .md file"
I'm having trouble adding a markdown file containing profile information. My application has been rejected many times. Please help
![image](https://user-images.githubusercontent.com/73934414/169658334-2ecef1fc-c567-4643-ac6b-ff79839b6e96.png)
![image](https://user-images.githubusercontent.com/73934414/169658378-14a736e0-ffca-445d-81a0-d7a09cec4d95.png)

[2022-05-21 18:32] jackgraddon commented on #6705
Its been 18 hours for me, just wait your turn.

[2022-05-21 18:46] harshithkumar2 commented on #4290
#6964

[2022-05-22 00:34] Sanditheastrophile opened #7036 "Please verify #6396"
Please verify my pull request and approve it

[2022-05-22 09:13] hendramanudinata03 commented on #7036
Just wait mate. Haven't get approved too.

[2022-05-22 09:41] busybox11 opened #7121 "Questions about the institution name field"
Hey!
I'm currently filling out the form for this graduation project, and I have some questions about the institution's name field (and also something that is related to the other fields too).
There is a flag on the name before the comment. Should we keep it?
Also, so I have to add the school's city on the field?

One more thing. It is indicated that no special characters are allowed. Does accented

[2022-05-22 10:46] LakinduK commented on #4290
#7134

[2022-05-23 06:05] 20IT062 opened #7366 "@elisemoe added Gujarati language.[Merge Please] #7152"

[2022-05-23 06:23] Utsav4852 commented on #4290
#7370

[2022-05-23 16:50] #6623 closed

[2022-05-23 16:54] DominusTrax commented on #2642
@juanpflores update the address for PR #5578 please

[2022-05-23 23:32] PitamahBhishma-0 commented on #6705
It's been 3 days and no update on PR .......

[2022-05-24 15:59] mr-jaf01 opened #7649 "Application"
Application procedure to join github class of 2020.

[2022-05-24 16:57] Vi1234sh12 opened #7656 "Add Vi1234sh12 to Github Graduation 2022"
Signed-off-by:  Vi1234sh12 dhanurevishal2@gmail.com

### Application to the Class of 2022🎓

This pull request template helps you complete an application to the Class of 2022. Use the checklist below to verify you have followed the instructions correctly.

### Checklist ✅

- [x] I have read the instructions on the README file before submitting my application.

- [x] I made my submission by creating

[2022-05-24 17:17] Sanditheastrophile commented on #7036
okay 🙂🙂

[2022-05-24 17:58] arnoob16 commented on #4290
#7668

[2022-05-24 18:19] jayprakash07 opened #7673 "I haven't graduated last year, I accidentally registered last year."
#2212

[2022-05-24 19:02] wu000168 commented on #2642
(PR#6152) When approximately will the swags be sent out? I will be moving a few times over the summer and I am wondering whether I will need to change address because of that.

[2022-05-24 19:25] #6705 closed

[2022-05-25 00:24] tvtea opened #7704 "Sports"

[2022-05-25 01:41] wu-json commented on #6705
Same here :(

[2022-05-25 05:43] dips4982 opened #7738 "Pull request not merged yet"
I was going through the pull request that are being merged and after pull request #6475 directly pull request #6582 has been merged. My pull request #6517 has the tag ready to merge and satisfies all the criteria has not been merged yet. Github team can you please look into this?
thank you

[2022-05-25 06:28] devansh2805 commented on #7738
Similar case, my pull request is tagged ready to merge. Merged PRs are jumped from #6703 to #6822. Mine is #6746.

[2022-05-25 08:35] melvincwng commented on #7738
Likewise, my PR #6300 has been skipped.  Can the Github team look into this as well?

https://github.com/education/GitHubGraduation-2022/pull/6300

[2022-05-25 09:25] saicharansigiri commented on #7738
Same happened With my Pull request  too,  mine was #6349  but they Directly Jumped from #6252  to #6355

[2022-05-25 09:42] hariscs opened #7768 "Pull request #7492 not merged yet"
My pull request #7492 has been tagged as ready but it's not merged yet. it's been two days since I created the pull request, and I'm still waiting. can someone please look into this?

[2022-05-25 14:27] Mihendy commented on #7768
A pull request marked ready only means that it is ready to merge. You need to wait, at the moment the last merged #6937.

[2022-05-25 15:15] jayprakash07 commented on #4290
#2212

[2022-05-25 16:34] Harindulk commented on #7738
same problem 🥲🥲, #6542

[2022-05-25 20:39] filipkujundzic opened #7834 "Can't fix it"
**Hi filipkujundzic,**
**Welcome to graduation!**

### I have a few items I need you to take care of before I can merge this PR:

* *Uh Oh! I've found some issues with where you have created your files!*
	*Please ensure all changes are contained within the `_data/filipkujundzic/` directory. Invalid file paths:*

	* `_data/_data/filipkujundzic/filipkujundzic.md`

Feel free to re-request a review fr

[2022-05-25 21:18] saadfareed opened #7835 "Add Github Graduation 2022"

[2022-05-26 06:31] #7704 closed

[2022-05-26 06:31] #7768 closed

[2022-05-26 06:32] juanpflores commented on #7834
I see you got the [✅ Ready for merge](https://github.com/education/GitHubGraduation-2022/labels/%E2%9C%85%20%20Ready%20for%20merge) label on your pull request

[2022-05-26 06:32] #7834 closed

[2022-05-26 06:34] juanpflores commented on #7656
Hi @Vi1234sh12 👋🏼
You'll need to submit your application to the event by submitting a pull request. Would recommend reading the README on this repository to read the instructions

[2022-05-26 06:34] #7656 closed

[2022-05-26 06:36] juanpflores commented on #6868
This pull request was merged

[2022-05-26 06:36] #6868 closed

[2022-05-26 06:36] juanpflores commented on #6109
⭐!

[2022-05-26 06:36] #6109 closed

[2022-05-26 07:01] iamayushy commented on #7738
same issue #6547

[2022-05-26 07:08] hannest03 commented on #7738
same with mine #6956

[2022-05-26 11:58] bagussatoto opened #7915 "How do I join in for the graduation?"

[2022-05-26 13:01] melvincwng commented on #7738
Thanks @juanpflores for the help provided :) !

[2022-05-26 15:07] Sanan4li commented on #7673
please mention your PR here https://github.com/education/GitHubGraduation-2022/issues/4290

[2022-05-26 15:42] abhay-ag commented on #7738
Same happened with my pull request too, mine was #7769 but they skipped from #7227 to #7841
@elisemoe @juanpflores can you please help me out

[2022-05-26 15:52] dev-rb opened #7948 "Already approved for student pack, check fails"
**Hi dev-rb,**
**Welcome to graduation!**

### I have a few items I need you to take care of before I can merge this PR:

* *I'm not seeing a valid student developer pack approval, please submit an [application](https://education.github.com/discount_requests/student_application?utm_source=2021-06-05-GitHubGraduation) to get started*

Feel free to re-request a review from me and I'll come back and

[2022-05-26 16:02] MuhammadSaadSiddique commented on #7948
yes same issue with me.

[2022-05-26 16:57] abhay-ag commented on #7738
GitHub Team please help!! @elisemoe and @juanpflores please look into this issue!

[2022-05-26 17:11] #7673 closed

[2022-05-26 19:23] might4 opened #7971 "I think my entry is just skipped"
Deadline is coming and my pr(#7414) has not yet been merged or even reviewed by a non-bot person. So I'm hoping that somehow my pr will be merged before the deadline comes.

[2022-05-26 19:25] might4 commented on #7738
My pr(#7414) as referenced in issue #7971 is also not merged yet.

[2022-05-26 19:52] ProgMiner opened #7975 "PR #7695 not merged yet"
Hello!

Could you help me please? My PR #7695 not merged yet, but more late PRs already merged... Can I hope to merge later?

[2022-05-27 01:41] mariiiiiq commented on #2642
@juanpflores Hi, I just submitted another shipping information, because we will be moving next month. Kindly update PR #7643, thank you.

[2022-05-27 03:51] ReadChart commented on #7738
Mine is #7913 and also skipped, @elisemoe @juanpflores can you please help me out, thanks

[2022-05-27 04:00] #7975 closed

[2022-05-27 05:50] hariscs commented on #7971
they merged pull #7960 and skipped mine #7492 too

[2022-05-27 05:52] hariscs commented on #7738
they skipped mine too, #7492

[2022-05-27 06:58] HritikR commented on #7971
PR is merged https://github.com/education/GitHubGraduation-2022/pull/7414#issuecomment-1139147667

[2022-05-27 07:46] Tiger-0512 opened #8021 "My PR was skipped, please check my PR: add: Tiger-0512 #7279"
My graduation month is March in 2022 so my SDP license has expired.
Because of that reason, my PR status is not ready for merge and my PR was skipped.
Please check and merge [my PR](https://github.com/education/GitHubGraduation-2022/pull/7279).

I attach the certificate of my master's degree.
[Certificate.pdf](https://github.com/education/GitHubGraduation-2022/files/8784873/Certificate.pdf)

@elis

[2022-05-27 09:29] alperkagankayali opened #8031 "Is the merging PRs procedure completed?"
I checked the description again, which states that the PRs that are merged by 27th of May are eligible to get a custom trading card, stickers and a letter. Since all the timezones are already in the day of 27th, does this mean that the PRs that are not merged yet will not be merged anymore?

[2022-05-27 09:43] saffer-69 opened #8035 "Question regrading GitHub Graduation"
will i lose my student pack if i applied for the Graduation.my Graduation is on december

[2022-05-27 11:51] ReadChart commented on #7971
Mine too, can somebody please help, I have checked the education pack and filled the form, I don't think I'm missing something.

[2022-05-27 15:47] diwasatreya opened #8055 "Update Hindi Translation"
=> #8054

[2022-05-27 16:17] juanpflores commented on #8055
✅ Thanks for updating that section!

[2022-05-27 16:17] #8055 closed

[2022-05-27 16:18] juanpflores commented on #8035
Hey @saffer-69
Thanks for reaching out with this question. No, you won't lose access to the student developer pack if you add yourself to the  yearbook

[2022-05-27 16:18] #8035 closed

[2022-05-27 16:19] juanpflores commented on #7971
✅ We've merged all pull request

[2022-05-27 16:19] #7971 closed

[2022-05-27 20:03] ProgMiner commented on #2642
@juanpflores Hello, I've just resubmit the form because I've just remember that my previous send had incorrect address. Could you update my address please? PR #7695

[2022-05-29 09:25] #7366 closed

[2022-05-29 17:30] elisemoe commented on #8031
We've extended the deadline until Monday. If you PR has the "Ready to Merge" label, it will be merged then!

[2022-05-30 17:52] alperkagankayali commented on #8031
Thanks for the info!

[2022-05-30 17:52] #8031 closed

[2022-05-30 22:24] elisemoe commented on #1149
Please add a link to you pull request in this issue - https://github.com/education/GitHubGraduation-2022/issues/4290

[2022-05-30 22:25] elisemoe commented on #459
Please add a link to your Pull Request in this Issue - https://github.com/education/GitHubGraduation-2022/issues/4290

[2022-05-30 22:25] elisemoe commented on #488
Please add a link to your Pull Request in this Issue - https://github.com/education/GitHubGraduation-2022/issues/4290

[2022-05-30 23:53] elB4RTO opened #8167 "Translation improvements"
Hello,
I've made a PR to add the italian translation
- [italian](https://github.com/education/GitHubGraduation-2022/pull/8072)

and I've found some unmerged PR for other languages as well
- [french](https://github.com/education/GitHubGraduation-2022/pull/6067)
- [portuguese](https://github.com/education/GitHubGraduation-2022/pull/8101)
- [portuguese](https://github.com/education/GitHubGraduation-2

[2022-05-31 03:46] opensourcebangladesh opened #8168 "The quote breaks the Code of Conduct. Please review the content of the pull request and update it."
Please merge my PR as I submitted PR on date. I changed my quote!!

_Originally posted by @github-education in https://github.com/education/GitHubGraduation-2022/pull/5883#pullrequestreview-979303901_

[2022-05-31 09:15] aryangulati commented on #4290
#1873

[2022-05-31 13:51] obrobrio2000 opened #8175 "PR not merged"
Hi, can you verify my PR #8113 ? I saw the update on May 30 that the submissions were closed, but my PR was created **days before** that deadline. It has already been approved by the bot, but it's still not merged. Will there be another round of PR merging? Thank you in advance.

[2022-05-31 13:51] obrobrio2000 commented on #7738
My PR #8113 as referenced in issue #8175 is also not merged yet :(

[2022-05-31 17:38] juanpflores commented on #2642
✅ Updated @Loner291999 @holiq @DominusTrax @mariiiiiq @ProgMiner

@wu000168 We'll be sending the packages in the next couple of weeks

[2022-05-31 18:19] AlexDev404 commented on #7738
@elisemoe @juanpflores Can you please merge mine as well? :(

https://github.com/education/GitHubGraduation-2022/pull/8142

[2022-06-01 03:27] juanpflores commented on #2642
@AlexDev404 Someone from the team will review your PR in the next couple of days ⭐

[2022-06-01 04:30] shreyask21 commented on #2642
@juanpflores Could you please update my shipping address too?

[My PR](https://github.com/education/GitHubGraduation-2022/pull/8074)

Thanks!

[2022-06-01 19:53] #8175 closed

[2022-06-02 00:28] parekh0711 commented on #2642
@juanpflores Could you please update my shipping address too?

[PR](https://github.com/education/GitHubGraduation-2022/pull/250)

Thanks!

[2022-06-02 03:19] Khushik514 opened #8185 "PR Skipped #8138"
I raised the PR #8138 before May 30th, but it still hasn't been merged and I see another PR with a later date merged already. Can you please help with this?

[2022-06-02 07:02] Khushik514 commented on #8185
It got merged, Thanks!

[2022-06-02 07:02] #8185 closed

[2022-06-02 17:02] MrAppu commented on #2642
@juanpflores Can we change the shipping address now?

[2022-06-03 18:30] juanpflores commented on #8168
This issue was resolved

[2022-06-03 18:30] #8168 closed

[2022-06-04 01:35] AlexDev404 opened #8203 "GitHub Profile Information Deadline"
@elisemoe @juanpflores

Hi,
Just wanted to know when is the deadline for our GitHub profile info that is to be put on the trading card.

That's about it.
Thanks!

[2022-06-04 02:11] juanpflores commented on #8203
We'll be collecting all data today so it's now or never!

[2022-06-04 02:15] #8203 closed

[2022-06-04 02:29] juanpflores commented on #8021
✅ the PR was merged

[2022-06-04 02:29] #8021 closed

[2022-06-04 02:30] #7835 closed

[2022-06-04 02:30] juanpflores commented on #7036
✅ All set

[2022-06-04 02:30] #7036 closed

[2022-06-04 02:31] juanpflores commented on #7649
Unfortunately, we have already closed applications for this year. The class of 2020 was part of the first iteration of the event and we are unable to add them at this time

[2022-06-04 02:31] #7649 closed

[2022-06-04 02:35] juanpflores commented on #7121
You got it all right. On the form, we need you to add the city where you live

[2022-06-04 02:35] #7121 closed

[2022-06-04 02:35] #6417 closed

[2022-06-04 02:36] juanpflores commented on #7738
All of this pull requests were merged!

[2022-06-04 02:36] #7738 closed

[2022-06-04 02:41] juanpflores commented on #6068
Don't forget to fill the form

[2022-06-04 02:41] #6068 closed

[2022-06-04 02:49] juanpflores commented on #7915
Instructions to get added for the event can be found on the [README](https://github.com/education/GitHubGraduation-2022) of this repository. Unfortunately, we have closed the application process for the event.

[2022-06-04 02:49] #7915 closed

[2022-06-04 03:03] juanpflores commented on #6196
This has been solved

[2022-06-04 03:03] #6196 closed

[2022-06-04 03:04] juanpflores commented on #8167
Added a few improvements! Waiting for folks to update the issues before moving forward

[2022-06-04 03:04] #8167 closed

[2022-06-04 07:45] Gleaner2021 commented on #2642
Hi @juanpflores,
Could you please help me to update my shipping address? #7429 I have re-submitted the form.
Thank you.

[2022-06-04 10:59] Maaz10 opened #8209 "Not able to access the Shipping form link"
Hi all,

Not able to access the shipping form, but able to access in mobile phone.
Even if registered through mobile device checks fail, (need to submit form)

[2022-06-05 03:07] AlexDev404 commented on #8203
@juanpflores Wait wait plss lemme just update my profile photo to something better real quick!

[2022-06-05 03:08] AlexDev404 commented on #8209
@Maaz10 I think that's because entries have closed already...not too sure though.

[2022-06-05 07:01] AlexDev404 commented on #8203
@juanpflores Can you use this one that I have currently instead? It would be greatly appreciated if you could...

Thanks in advance for all your patience

[2022-06-06 00:11] juanpflores commented on #8209
Hi @Maaz10 👋🏼
Thanks for letting us know about this. I have checked the record on our side and I can see you have submitted a form already. Let us know if you want to change your address to provide an additional form

[2022-06-06 00:17] juanpflores commented on #2048
Hey @asheeeshh 👋🏼
Thanks for making such a great question. I have left a note for the team to consider new methods for signaling improvements on the repository. There is a lot of thought that needs to go to this to make sure this improvements don't get lost in a sea of pull request. I'll close this issue for now as not planned but definitely appreciate you for raising this issue

[2022-06-06 00:17] #2048 closed

[2022-06-06 00:24] juanpflores commented on #2642
✅ updated @shreyask21 @parekh0711 @Gleaner2021

@MrAppu Try submitting a new form using the link in the readme.

[2022-06-06 01:10] juanpflores commented on #4290
We've reviewed all the pull request added in this issue. We will be merging those that were re-opened. ⭐

[2022-06-06 01:14] juanpflores commented on #7948
All issues were reviewed and are in queue to be merged

[2022-06-06 01:14] #7948 closed

[2022-06-06 05:01] ashutoshkrris commented on #2642
Hey @juanpflores
Could you please help me update my shipping address for the PR #1054
I've resubmitted the form.

[2022-06-06 05:15] moni-roy commented on #2642
Hi @juanpflores, I have updated my address for PR [#2229](https://github.com/education/GitHubGraduation-2022/pull/2229). Please use the most recent address. I have resubmitted the form. Thank you!

[2022-06-06 12:25] MrAppu commented on #2642
Thank you for the reply @juanpflores , I would like to know how long it will take to ship to a place, for example, India. I will move to another place next month. Then only I can decide if I want to change the shipping form.

[2022-06-06 23:18] Thomas2404 opened #8237 "Recieved the wrong card"
Hi, I received the wrong card from GithubGraduation, is there any way this issue could be fixed and I could be sent my card?

Thanks.

[2022-06-07 00:59] farzanfa opened #8239 "can't find my profile in _data"
My pull request was merged  but can't find it on _data. https://github.com/education/GitHubGraduation-2022/pull/644

[2022-06-07 02:00] PDPENG opened #8240 "Consult"
I would like to ask when the gift will be delivered, and I did not receive the card in the mailbox.

[2022-06-07 04:50] abhay-ag opened #8241 "When will the Card be provided?"
My pull request #7769 was merged a few days ago but I didn't recieve any card in the mail. Please tell when will the card be mailed.

**Regards**
Abhay Aggarwal

[2022-06-07 04:59] Sanditheastrophile commented on #8240
Same here #6396

[2022-06-07 07:46] oshi36 commented on #4290
Hi @juanpflores, can you look into this. Thank you.

[2022-06-09 15:11] srahulbadami commented on #4290
#8258

[2022-06-10 02:33] #8209 closed

[2022-06-10 02:41] juanpflores commented on #8203
I'll try my best to update the image ⭐

[2022-06-10 07:21] urlocalmadman commented on #2642
@juanpflores could you please update to my latest shipping form? Needed to update address. im #2884

[2022-06-10 13:37] Sanditheastrophile opened #8269 "I would like to ask when the gift will be delivered, and I did not receive the card in the mailbox. PR #6396 merged on 24th May 2022"

[2022-06-10 16:17] abhay-ag commented on #8241
Thank you confirming this 😃 !!

[2022-06-10 18:26] Ekmand commented on #2642
@juanpflores Thought I put my stuff in right, but I've been second guessing myself so I just resubmitted the form. I'm PR [#349 ](https://github.com/education/GitHubGraduation-2022/pull/349)

[2022-06-10 20:05] Travja commented on #8237
I'll go ahead and bump this as I received my letter from GitHub Education today containing the "congratulations" card and the trading card with the wrong name. @Bracciata I have your card! :P I guess time will tell whose you get.

[2022-06-10 21:23] Bracciata commented on #8237
@Travja  hopefully it will work out I get your and we can trade!

[2022-06-11 15:35] antonky opened #8278 "Changed GitHub username"
Hi I recently changed my GitHub username from nakamin to antonky, this seems to be causing some issues with the yearbook site since my profile will 404 now. Is it too late already to get this updated? Also for the cards, have they already been printed, will the username change cause issues with my card too?

[2022-06-11 16:10] Abhishek12345679 commented on #2642
@juanpflores can you change the shipping information for PR #6048. Resubmitted the shipping form with the new address.

[2022-06-11 16:42] Peiprjs opened #8280 "Shipping"
'Ello!
I was wondering when the cards would ship, and what method will be used for shipping.

Thank you for everything!

[2022-06-11 16:43] Peiprjs commented on #8280
I was PR #61

[2022-06-11 17:00] DHANESHJOSHI commented on #8241
I haven't receive my Card in the mail my pull request is #4687 #4677

[2022-06-11 17:11] DHANESHJOSHI opened #8281 "Didn't Got my trading card And Swag"
Hello sir, I didn't get a custom trading card and swang and I haven't received any mail regarding my card and swags shipment please help me

[2022-06-11 17:12] DHANESHJOSHI commented on #8281
my PR #4677 #4687

[2022-06-11 19:44] Daniel-Fan commented on #2642
Hi @juanpflores

I have re-submitted the shipping form with the updated address. My PR was https://github.com/education/GitHubGraduation-2022/pull/4243.

Could you please help to update the shipping address if the package has not be shipped. Thank you!

[2022-06-11 23:38] vccheng2001 opened #8284 "Got another person's trading card"
Hi,
I received someone else's (@vishal-patel1) trading card. My username is @vccheng2001 .

![16549906933495008016005812968116](https://user-images.githubusercontent.com/60167936/173208304-0bc50872-a3ca-4fb4-b563-d0cd16c41169.jpg)

[2022-06-12 01:30] Zesterdock commented on #8241
They will be delivered soon as Github graduation event is completed yesterday

[2022-06-12 03:33] abusayed0206 opened #8285 "Pull Request was merged but can't find my name on Yearbook!"
My PR was merged before deadline but I Don't find myself on github yearbook 2022 https://education.github.com/graduation/yearbook?sort=az&page=-1&search=abusayed0206

Deae mods, can you please give feedback about this?

**Hi abusayed0206,**
**Welcome to graduation!**

Your Pull Request looks good! Thanks for your graduation submission. Next, one of our reviewers will come by to check your PR meets

[2022-06-12 04:39] delzadbamji commented on #2642
Hey @juanpflores
Is there a way to confirm my address on file?
Or the delivery status of the package?

[2022-06-12 05:05] Elanza-48 opened #8287 "Correction of FAQ"
the FAQ section of the Github Education yearbook site has old and stale information please correct it.

[2022-06-12 17:28] ZachElkins opened #8293 "Received wrong trading card"
I received @Taowyoo's trading card and letter instead of my own.

![Proof](https://i.imgur.com/GnHhQwF.png)

[2022-06-12 17:46] Taowyoo opened #8294 "Received wrong trading card too"
I received @IsaacJade 's trading card and letter instead of my own.
![PXL_20220612_174147842](https://user-images.githubusercontent.com/20309719/173246238-ad064ae2-ced1-4820-8d81-3b7958eabf0b.jpg)

[2022-06-12 17:47] Taowyoo commented on #8293
Hi, it seems a common problem. I also received another one's card: @IsaacJade . Create a issue too: #8294

[2022-06-12 19:14] Bracciata commented on #8237
I got @trylaarsdam

[2022-06-12 20:09] trylaarsdam commented on #8237
I haven't received anything yet, I'll update if I do.

[2022-06-13 02:06] DHANESHJOSHI commented on #8241
And what about the swag ? I haven't got any mail regard swag and card

On Sun, 12 Jun, 2022, 7:00 AM Pranjal Agrawal, ***@***.***>
wrote:

[2022-06-13 04:45] chingisooinar commented on #8281
I have the same problem.

[2022-06-13 07:37] Redskull-127 commented on #8281
Same here!

[2022-06-13 10:23] hiremathak opened #8297 "I haven't received my card pls let me know how and when will it be shipped"

[2022-06-13 13:38] rubencosta13 commented on #8285
I can't find my name too
https://education.github.com/graduation/yearbook?sort=az&page=-1&search=rubencosta13

Any feedback or something?

[2022-06-13 18:10] prathyushasai opened #8300 "Received wrong trading card"
I received the wrong trading card & letter (It is for someone else's github username).

[2022-06-13 18:44] trylaarsdam commented on #8237
Just received @tfinnm's card

[2022-06-13 19:20] tfinnm commented on #8237
Guess now I get to see who's card I get

[2022-06-13 21:25] MinicomSoftware opened #8301 "Incorrect Trading Card Received"
I got the wrong trading card. I got @stevenrick

[2022-06-13 21:30] Nathdoesmath opened #8302 "I recieved the wrong trading card"
The mailing information was correct, but the contents were for @Nate8888

[2022-06-13 21:55] stevenrick commented on #8301
And I have not yet received any trading card. Thanks for reporting this @MinicomSoftware

[2022-06-13 22:10] Nate8888 commented on #8302
Oof sorry to hear that. I haven’t received anything yet @Nathdoesmath

[2022-06-13 22:41] Travja commented on #8237
Just so everything is all in one place, it looks like right now the following have received the wrong cards: @Thomas2404, Myself, @Bracciata, @trylaarsdam, @tfinnm, #8301: @MinicomSoftware, @stevenrick, #8302: @Nathdoesmath, @Nate8888, #8300: @prathyushasai, #8294: @Taowyoo, @IsaacJade, #8293: @ZachElkins, #8284: @vccheng2001, @vishal-patel1

(Sorry for the pings everyone! Just figured I'd compile

[2022-06-13 22:48] Nathdoesmath commented on #8237
hopefully everyone getting incorrect cards thinks to put it in here lol

[2022-06-13 23:08] alcaidet opened #8303 "I received the wrong trading card"
Like others, I received the wrong trading card....... I got someone else's instead of mine

[2022-06-13 23:40] fbscott opened #8304 "Received wrong announcement and trading card."
I received the wrong announcement and trading card.

Fire the intern!

![IMG_20220613_173641](https://user-images.githubusercontent.com/4388162/173464737-11858fd6-0050-4018-9757-a5f50a05371f.jpg)

[2022-06-13 23:43] fbscott commented on #8285
@abusayed0206, You also had to be one of the first 7,500 PRs. Getting in before the deadline was only half of the requirements.

[2022-06-14 00:00] Spandan14 opened #8305 "received the wrong trading card"
got the wrong card; can I be sent mine again?

[2022-06-14 00:12] stevenrick opened #8306 "Wrong trading card recieved"
I received the card meant for @s-denton

[2022-06-14 00:12] stevenrick commented on #8237
to add to the list by @Travja I just received the card meant for @s-denton and opened #8306

[2022-06-14 00:34] IsaacJade opened #8307 "Wrong trading card recieved"
I received the card meant for @Youssef-Beltagy

[2022-06-14 00:46] Youssef-Beltagy commented on #8307
And I was wondering when I would get it. Thank you for opening an issue. I wonder if/when they will see this issue.

[2022-06-14 00:47] Youssef-Beltagy commented on #8307
Can you please assign someone to this issue?

[2022-06-14 00:47] Sanditheastrophile commented on #8285
I can't find my name too PR #6396

[2022-06-14 00:50] IsaacJade commented on #8307
I can't add assignees. But you can @ people here

[2022-06-14 01:37] savannanoh opened #8308 "Wrong trading card and letter"
Same issue as others. I received the trading card and letter meant for @sauravkumr

[2022-06-14 01:40] fbscott commented on #8308
I got yours! https://github.com/education/GitHubGraduation-2022/issues/8304#issue-1270075827

[2022-06-14 02:37] AlexDev404 commented on #8308
This has just got to be GitHub's worst messup in the history of mankind 😭

[2022-06-14 02:38] AlexDev404 commented on #8308
@juanpflores !!!

Fire the intern!! 🤣

[2022-06-14 02:46] fbscott commented on #8304
@github-education Plans to resend?

[2022-06-14 14:54] Abhishek786-Kolvekar opened #8309 "I cannot find my name in the yearbook of GitHub Graduation 2022"
Hello,
I had submitted my pull request and it was even merged the next day. Also I was one among 7500 participants to get the PR merged.
But I am unable to find my name in the yearbook.
Please address this issue.
Regards

[2022-06-14 14:56] Abhishek786-Kolvekar commented on #8309
@elisemoe @fbscott

[2022-06-14 14:58] Abhishek786-Kolvekar commented on #8309
https://github.com/education/GitHubGraduation-2022/pull/5274

[2022-06-14 17:44] ishikabansal04 opened #8310 "no card received"
I would like to ask when the gift will be delivered, and I did not receive the card in the mailbox. My PR #1997 merged on 5th May 2022

[2022-06-14 18:15] Zesterdock commented on #8308
Have you got it

[2022-06-14 18:42] AmACircle opened #8311 "Wrong card sent"
I received @blackbird71SR's card instead of my own
![blsck](https://user-images.githubusercontent.com/66957644/173665056-5d0b87df-65c2-459d-aabc-1e1a6371003d.jpg)
.

[2022-06-14 19:40] tfinnm commented on #8237
Looks like I got @tmargono 's card

[2022-06-14 20:06] artillect commented on #8237
I got @QPixel's card, we both have our names set to Riley in our profiles so maybe that was the source of the mixup? It seems like the first letter of everyone's name matches up with the name of the person whose card they received.

[2022-06-14 20:12] elisemoe opened #8312 "Wrong Trading Card Thread 🧵😱"
Hi everyone -- there's been a mistake with trading cards shipped within the United States. If you are in the US, you likely received the wrong card.

Our team is reprinting cards and getting them in the mail as soon as possible. You do not need to send the card you received anywhere.

Thanks for your patience and understanding 💖

[2022-06-14 20:12] elisemoe commented on #8311
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:12] #8311 closed

[2022-06-14 20:12] elisemoe commented on #8308
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:12] #8308 closed

[2022-06-14 20:13] elisemoe commented on #8307
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:13] #8307 closed

[2022-06-14 20:13] elisemoe commented on #8306
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:13] #8306 closed

[2022-06-14 20:13] elisemoe commented on #8303
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:13] #8303 closed

[2022-06-14 20:13] elisemoe commented on #8301
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:13] #8301 closed

[2022-06-14 20:13] elisemoe commented on #8300
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:13] #8300 closed

[2022-06-14 20:14] elisemoe commented on #8302
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:14] #8302 closed

[2022-06-14 20:14] elisemoe commented on #8304
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:14] #8304 closed

[2022-06-14 20:14] elisemoe commented on #8305
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:14] #8305 closed

[2022-06-14 20:14] elisemoe commented on #8294
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:14] #8294 closed

[2022-06-14 20:15] elisemoe commented on #8237
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:15] elisemoe commented on #8293
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:15] #8293 closed

[2022-06-14 20:16] elisemoe commented on #8284
Thanks for letting us know! I've [added an update here](https://github.com/education/GitHubGraduation-2022/issues/8312).

[2022-06-14 20:16] #8284 closed

[2022-06-15 04:18] Mohnish226 commented on #8309
@Abhishek786-Kolvekar Here's a [link](https://education.github.com/graduation/yearbook?sort=az&page=2&search=Abhishek786-Kolvekar#Abhishek786-Kolvekar) to your yearbook profile:
https://education.github.com/graduation/yearbook?sort=az&page=2&search=Abhishek786-Kolvekar#Abhishek786-Kolvekar

[2022-06-15 04:55] Mohnish226 commented on #8285
@rubencosta13 Here's a [link](https://education.github.com/graduation/yearbook?sort=az&page=48&search=Rubencosta13#rubencosta13) to your yearbook profile:
https://education.github.com/graduation/yearbook?sort=az&page=48&search=Rubencosta13#rubencosta13

@Sanditheastrophile Here's a [link](https://education.github.com/graduation/yearbook?sort=az&page=17&search=Sanditheastrophile#Sanditheastrophile)

[2022-06-15 05:04] diwasatreya commented on #8309
You have to search your full GitHub username `Abhishek786-Kolvekar` then it will redirect to your section. Searching `Abhishek786` or `Kolvekar` will not give the result.

[2022-06-15 05:10] diwasatreya commented on #8310
They have started delivering and it depends according to your country. It may take a week I guess

[2022-06-15 05:13] Mohnish226 commented on #8239
Github limits the number of files that can be viewed in the browser.

[Source](https://github.community/t/sorry-we-had-to-truncate-this-directory-to-1000-files-289-entrie-were-omitted-from-the-list/128812/2)

[2022-06-15 05:37] Abhishek786-Kolvekar commented on #8309
Thanks for addressing my queries.
@diwasatreya @Mohnish226

[2022-06-15 06:05] abusayed0206 commented on #8285
All requirements were filled and my PR was merged before deadline!  everything looks fine! I didn’t find any issue! 🙂

[2022-06-15 11:18] rubencosta13 commented on #8285
@Mohnish226 I must be blind thanks for your help tho!
I was searching all lowercase

[2022-06-15 14:25] Zesterdock opened #8313 "Hey ! What's in the package other then card and stickers ?"

[2022-06-15 14:39] DHANESHJOSHI commented on #8312
Hello, when we will get i'm form india

[2022-06-15 23:35] fbscott commented on #8312
@DHANESHJOSHI, This only affects U.S. recipients.

[2022-06-16 00:07] shaheriar opened #8314 "Wrong card sent"
Hello! I just wanted to make sure it is informed that I also, like many others, received a card with someone else's name on it. Thank you.

[2022-06-16 00:38] DHANESHJOSHI commented on #8312
But what about the mail still I haven't received any mail

[2022-06-16 11:46] DHANESHJOSHI commented on #8312
@fbscott I don't think so because other Indians are getting their card.

[2022-06-16 14:32] ImMorph opened #8317 "Improved French Translation [ Linked PR ]"
Hello,
I improved the French translation of the README and opened the Pull Request #8316 .
I hope @elisemoe and/or the team can merge it.

**_As always, thanks for your great work and have a good day/night !_**

[2022-06-17 03:11] diwasatreya commented on #8314
See this #8312

[2022-06-18 07:50] ZCyueternal commented on #8269
me too

[2022-06-18 07:53] ZCyueternal commented on #8314
Will the card be sent to China? I'm a Chinese developer. Thanks.

[2022-06-18 07:54] ZCyueternal commented on #8310
Will the card be sent to China? I'm a developer from China. Thanks

[2022-06-18 08:00] ZCyueternal commented on #8309
#4746 My pull request has been merged .
unable to find my name in the yearbook, too
Does anyone can help me?
Thanks!!!

[2022-06-18 08:01] ZCyueternal commented on #8309
Thanks bro.
I should type FULL name of my account name.

[2022-06-18 08:02] ZCyueternal commented on #8309
https://education.github.com/graduation/yearbook?sort=az&page=22&search=ZCyueternal#ZCyueternal
This is mine.

[2022-06-18 08:03] diwasatreya commented on #8309
Yeah, welcome bro

[2022-06-18 08:12] ZCyueternal commented on #8312
https://github.com/education/GitHubGraduation-2022/pull/4746
Will the card be sent to China?

[2022-06-18 08:56] ullaskunder3 commented on #8312
@ZCyueternal don't worry... @github-education working really hard. let's wait :)

[2022-06-19 06:53] prabincankod commented on #8310
@diwasatreya did you get yours?

[2022-06-19 10:42] diwasatreya commented on #8310
@prabincankod  pa xhaina yaar bro Nepal ma kaile aauni kaile :laughing:

[2022-06-20 15:51] ritesh-kanchi commented on #8312
Hi, I was told to add my PR number to this issue: #2502

[2022-06-20 22:48] AiEngrHaseeb commented on #4290
Hi @juanpflores, can you look into this. Thank you.

[#8176](https://github.com/education/GitHubGraduation-2022/pull/8176).

[2022-06-20 23:19] TaylorH00 opened #8324 "Received Wrong Trading Card"
Hello,

My pull request was #4529  and I happened to receive the user's, "DumbassNamedTuna", trading card. Anyways, any help would be appreciated!

Thank you,
Taylor H

[2022-06-21 10:38] rubencosta13 commented on #8324
@TaylorH00 Kindly take a look at this issue please
https://github.com/education/GitHubGraduation-2022/issues/8312

[2022-06-22 04:44] mrepol742 commented on #8297
Same here bro.

[2022-06-22 04:45] mrepol742 commented on #8269
same bro

[2022-06-22 10:49] dibrinsofor opened #8329 "Nothing was received"
My PR was merged and I filled out the forms but haven't heard back or received any shipping confirmation.

[2022-06-22 10:56] rubencosta13 commented on #8329
@dibrinsofor, kindly wait, you will eventually get your trading card, github is working hardly to deliver all + in my country the local post office is delayed by 16 days, ad I've not yet received mine.
My recommendation: **kindly wait**

[2022-06-22 19:33] HaidarAli16 opened #8330 "Card not Received"
When will be the cards dispatched for Pakistan

[2022-06-23 08:20] rubencosta13 commented on #8330
kindly wait, you will eventually get your trading card, github is working hardly to deliver them

[2022-06-23 10:23] azizulabedinazmi commented on #2642
Hello 👋
I'm a student of Computer Science And Engineering at East West University, Bangladesh.
It's been a while of GitHub Graduation 🎓 2022. But I still don't receive any  letter and custom trading card 💌 .
PR #7863

[2022-06-23 17:44] #8329 closed

[2022-06-25 05:22] mithson opened #8332 "Username PR request not approved"
I have submitted pull request and it was accepted but i have changed my username om github after pull request now when i submit pr request it aint accepting ease look into that problem my commit is

[2022-06-26 01:29] jackgraddon opened #8334 "Custom Card Shipment"
Hello, I have not yet received the custom trading card in the mail yet. I was wondering if they have been shipped or if there was an issue with mine?

My PR is here:
https://github.com/education/GitHubGraduation-2022/issues/6305#issuecomment-1166392261

[2022-06-28 08:16] rubencosta13 commented on #8334
Kindly await, you will get your trading card, github education is working hard to deliver them all

[2022-06-28 14:12] AlexDev404 commented on #8332
Why rename yourself in the first place then...

[2022-06-28 14:14] AlexDev404 commented on #8330
Love how you said "hardly" there lol

[2022-06-28 14:20] rubencosta13 commented on #8330
Not sure what you are talking about 😂

[2022-06-29 21:28] nilutpolkashyap commented on #8285
@Mohnish226 I couldn't find myself. My PR was merged and everything looked fine and that too before the deadline. here's my PR link - [1304](https://github.com/education/GitHubGraduation-2022/pull/1304)

[2022-06-29 21:30] nilutpolkashyap opened #8336 "Couldn't find my name in Github Yearbook 2022"
I couldn't find myself. My PR was merged and everything looked fine and that too before the deadline. here's my PR link - [#1304](https://github.com/education/GitHubGraduation-2022/pull/1304)

[2022-06-29 21:30] nilutpolkashyap commented on #8336
@Mohnish226

[2022-06-29 21:34] nilutpolkashyap commented on #8336
Found it here - https://education.github.com/graduation/yearbook?page=43&sort=az#nilutpolkashyap

[2022-06-29 21:45] rubencosta13 commented on #8285
Found yah: https://education.github.com/graduation/yearbook?sort=az&page=43&search=nilutpolkashyap#nilutpolkashyap

[2022-06-30 15:10] DHANESHJOSHI commented on #8334
i don't think so the card will come even I haven't got any mail or card yeat

MY PR IS = #4677 (DHANESHJOSHI)

[2022-06-30 15:12] DHANESHJOSHI commented on #4290
Didn't Received Swag!
For Reference-  #4677
Current Year : #4677

[2022-06-30 15:16] DHANESHJOSHI opened #8337 "Didn't receive any card or swags!"
hi i didn't receive any swags and card nor any Email uptill now  MY PR is  #4677

[2022-06-30 17:45] lasr21 commented on #4290
We are still sending the cards for this year's graduation. Bear with us

[2022-06-30 17:46] lasr21 commented on #8334
we are still sending the cards for this year's graduation. Bear with us

[2022-06-30 17:46] #8334 closed

[2022-06-30 17:46] lasr21 commented on #8330
we are still sending the cards for this year's graduation. Bear with us

[2022-06-30 17:46] #8330 closed

[2022-06-30 17:46] #8324 closed

[2022-06-30 17:47] lasr21 commented on #8337
Hi there @DHANESHJOSHI , we are still sending the cards for this year's graduation. Bear with u

[2022-06-30 17:47] #8337 closed

[2022-06-30 17:47] lasr21 commented on #8314
yes, we will send it to China :)

[2022-06-30 17:48] #8310 closed

[2022-06-30 17:49] lasr21 commented on #8297
Hi there @hiremathak , we are still sending the cards for this year's graduation. Please bear with us

[2022-06-30 17:49] #8297 closed

[2022-06-30 17:49] lasr21 commented on #8281
Hi there, we are still sending the cards for this year's graduation. Please bear with us

[2022-06-30 17:49] lasr21 commented on #8269
Hi there, we are still sending the cards for this year's graduation. Please bear with us

[2022-06-30 17:49] #8269 closed

[2022-06-30 17:49] lasr21 commented on #8241
Hi there, we are still sending the cards for this year's graduation. Please bear with us

[2022-06-30 17:49] #8241 closed

[2022-06-30 17:50] lasr21 commented on #8280
Hi there, we are still sending the cards for this year's graduation. Please bear with us

[2022-06-30 17:50] #8280 closed

[2022-06-30 17:50] lasr21 commented on #2642
@AlexDev404 Hi there, we are still sending the cards for this year's graduation. Please bear with us

[2022-06-30 18:42] icorbrey commented on #8297
@lasr21 is there somewhere we can find timelines for when each regions' stuff will be sent out? I'm in Midwest US and have not received anything yet

[2022-06-30 18:57] lasr21 commented on #8297
@icorbrey we are sending them on batches. Sending 7500 customs trading cards takes time 😅

[2022-06-30 18:58] lasr21 commented on #8313
it's the custom holographic developer trading card with your GitHub status and stickers 🎊

[2022-06-30 18:58] #8313 closed

[2022-06-30 18:59] icorbrey commented on #8297
Totally understandable, thanks for the update! Good luck with all that, it sounds like a logistical nightmare 😂

[2022-07-01 03:16] jackgraddon commented on #8334
Awesome, thank you! Excited to receive it.

[2022-07-01 16:38] lasr21 commented on #8239
https://github.com/education/GitHubGraduation-2022/tree/main/_data/farzanfa :)

[2022-07-01 16:38] #8239 closed

[2022-07-01 16:59] AlexDev404 commented on #2642
Okay sure @lasr21, no problem!
Thanks for the update, it means a lot.

Just was a bit worried that my submission wasn't received.
Thanks for the clarification.

[2022-07-02 06:48] prabincankod commented on #8310
what about the shipping in nepal??

[2022-07-06 00:35] dibolsoni opened #8344 "Graduation Card [missing]"
Hello,

I didn't receive my graduation card. My PR is #3554.

Thanks in advance,
dibolsoni.

[2022-07-06 21:38] juleast opened #8345 "Graduation card [Missing]"
Hey GitHub,
I have yet to receive my trading card. I made a pull before May 27th and it was approved. I believe I provided my shipping address as well. If you guys can provide any updates, it would be appreciated. My PR is **#7680**
Thanks,
juleast

[2022-07-07 21:38] lasr21 commented on #8345
Hi there, we are still sending the cards for this year's graduation. Please bear with us

[2022-07-07 21:38] #8345 closed

[2022-07-07 21:38] lasr21 commented on #8344
Hi there, we are still sending the cards for this year's graduation. Please bear with us

[2022-07-07 21:38] #8344 closed

[2022-07-08 03:26] Che-Zhu commented on #2642
Hi @juanpflores . Could you please update my shipping address? I moved to a new place recently. My PR was #7144.

Thanks in advance!

[2022-07-08 17:03] Omar8345 opened #8347 "Going on vacation"
Hello @education team!

**I'll be travelling next month and I am not sure if I will receive my swag this month or not, I prefer to delay it to be delivered on September**.

@elisemoe

[2022-07-10 14:34] abhay-ag opened #8348 "Did not recieve the Card!!"
Hii GitHub,
My pull request #7769 was merged on 27th May, but I haven't got the cards till now. I am from India. Please Help !!!!!

[2022-07-10 14:43] ullaskunder3 commented on #8348
80% of us didn't received their card they doing their best, I think this time something went wrong, lets wait and hope

[2022-07-10 15:53] abhay-ag commented on #8348
Waiting 😀. Hope they arrive soon!!

[2022-07-11 04:18] itsRkator opened #8349 "Letter, Custom trading card 💌 and Swags Not Received || Need Help"
Hi,

I created my PR on 7th May 2022 and it was merged successfully on the same day. Today it's 11th July 2022 but I didn't have any information regarding the letter, custom trading card 💌 and swags.

The link to my PR is https://github.com/education/GitHubGraduation-2022/pull/4288

Please look into this and provide me with the required information or tracking details.

Thanks

[2022-07-11 15:44] lasr21 commented on #8349
Congrats on your graduation! ✨ We're seeing up to 5 month delivery times for international shipments with the delays from covid. If you have not seen anything by then, you're welcome to get back in touch with us.

Unfortunately, we don't have tracking on the tier one shipments.

[2022-07-11 15:44] lasr21 commented on #8348
We're seeing up to 5 month delivery times for international shipments with the delays from covid. If you have not seen anything by then, you're welcome to get back in touch with us.

Unfortunately, we don't have tracking on the tier one shipments.

[2022-07-11 15:44] #8348 closed

[2022-07-11 15:44] #8309 closed

[2022-07-11 19:56] anandjagadeesh commented on #2642
Hi Team,

Have you started shipping out the cards? I will be moving out of my current address in mid-August and wanted to know if the shipment would happen before that as after that time there won't be anyone to collect it for me and I don't know my next accommodation's address yet. If this is the wrong thread, kindly redirect me to the right place!

Thanks in advance.

Thanks,
Anand (uname: anand

[2022-07-11 20:58] lasr21 commented on #2642
Hi there, we have already sent all the cards. Postal service in each region it's different. Some arrive in weeks. Other takes months. It's out of our control.

[2022-07-11 20:58] #2642 closed

[2022-07-11 20:59] lasr21 commented on #8347
Hi there, we have already sent all the cards. Postal service in each region it's different. Some arrive in weeks. Other takes months. It's out of our control.

[2022-07-11 20:59] #8347 closed

[2022-07-12 03:56] Omar8345 commented on #8347
That's okay, may I have the tracking code and the carrier to report to the postal company in my country?

[2022-07-12 09:50] hashfx commented on #8347
I doubt if they receive or provide any tracking code. They have addressed the same in other issues too

[2022-07-12 16:27] lasr21 commented on #8347
Unfortunately, we don't have tracking on the shipments

[2022-07-12 17:55] Omar8345 commented on #8347
At least like package code, etc. to identify it, so I can report to my postal in the country

[2022-07-13 03:10] azizulabedinazmi commented on #2642
Still don't receive any letter and custom trading card 💌 .
PR #7863

[2022-07-13 18:50] lasr21 commented on #2642
We're seeing up to 5 month delivery times for international shipments with the delays from covid. If you have not seen anything by then, you're welcome to get back in touch with us.

Unfortunately, we don't have tracking on the shipments.

[2022-07-16 08:45] Max094Reikeb commented on #8312
I still haven't received my card... I'm from France!

[2022-07-17 10:55] Ajithkumar7925 opened #8351 "Swag Shipment"
**When the swags will get shipped to India?**

[2022-07-17 13:59] hashfx commented on #8351
**+1**

[2022-07-19 08:55] xMdb commented on #8312
Still haven't got mine in Australia?

[2022-07-19 10:48] C19H3R commented on #8351
+1

[2022-07-21 07:12] goduguaparna commented on #3001
my student developer pack is not approving ....what to upload in proof other than college id.iam unable to understand what to upload ..plz respond for the issue plz...........

[2022-07-21 07:17] ullaskunder3 commented on #3001
@goduguaparna
- If the dates or schedule mentioned in your uploaded image do not match the eligibility criteria, might be the problem.
- If the image you uploaded doesn't clearly identify your current academic status or if the uploaded image is blurry

[2022-07-21 07:49] imranbarbhuiya opened #8352 "I haven't received graduation card yet"
my pr https://github.com/education/GitHubGraduation-2022/pull/4291

[2022-07-22 06:14] Abhishek786-Kolvekar commented on #8351
+1

[2022-07-22 14:57] Lucifer1130 opened #8353 "I have not received graduation card and swags yet."
Please look into the matter.

[2022-07-22 15:28] rubencosta13 commented on #8353
I've read on an issue that overseas (out of the US) shipments can take up to 5 months to arrive at the final destination.

Github isn't like amazon.... We gotta wait, you're in the same boat as me

[2022-07-22 15:28] rubencosta13 commented on #8352
I've read on an issue that overseas (out of the US) shipments can take up to 5 months to arrive at the final destination.

Github isn't like amazon.... We gotta wait, you're in the same boat as me

_Originally posted by @rubencosta13 in https://github.com/education/GitHubGraduation-2022/issues/8353#issuecomment-1192689370_

[2022-07-22 15:29] rubencosta13 commented on #8351
I've read on an issue that overseas (out of the US) shipments can take up to 5 months to arrive at the final destination.

Github isn't like amazon.... We gotta wait, you're in the same boat as me

_Originally posted by @rubencosta13 in https://github.com/education/GitHubGraduation-2022/issues/8353#issuecomment-1192689370_

[2022-07-22 17:34] Lucifer1130 commented on #8353
Waiting is a tiring process , nevertheless if it's for good then let us.

[2022-07-24 09:14] larymak opened #8354 "Translation of the repository"
I would like to contribute to this by localization of the entire repo into my local language **Swahili**. I see most of the languages are well represented and would like to add mine to the list.

[2022-07-24 22:03] silicon-ninja commented on #8351
Dope I will get very old by the time it reaches india thank you microsoft

[2022-07-26 02:17] #8351 closed

[2022-07-26 02:18] #8353 closed

[2022-07-26 02:18] #8352 closed

[2022-07-27 18:31] icorbrey commented on #2642
@lasr21 I'm in the continental US and have not received my stuff yet. Should I reach out to someone?

[2022-07-28 13:07] thegautamkumarjaiswal commented on #2642
I am a GitHub Graduation 2021 student and one of 7500 graduate of 2021. I haven't received my graduation swags and I have again updated my address with this. Can you please tell Wheatherwill.I recieve my swags of not? @juanpflores

[2022-07-28 14:15] HarishGuragol commented on #2642
Hi team

I have not received the shipment of my graduation swags 2022. I had filled both the forms ,can you please update on it
Username : HarishGuragol
PR  #386

[2022-07-28 15:44] HarishGuragol opened #8359 "Didn't Got my trading card And Swag #386"
Hello sir

I have not received the shipment of my graduation swags 2022. I have filled out both the forms, can you please update on it @lasr21
Username: HarishGuragol
PR https://github.com/education/GitHubGraduation-2022/pull/386

[2022-07-28 17:34] suyashvash opened #8361 "Can I get update on my Trading card and swag ?"
I want to get some updates on my swag as I Updated my bio for it. If it is not delivered or made yet, It would be great.
username - @suyashvash

[2022-07-29 00:53] lasr21 commented on #8359
Congrats on your graduation! ✨ We're seeing up to 5 month delivery times for international shipments with the delays from covid. If you have not seen anything by then, you're welcome to get back in touch with us.

Unfortunately, we don't have tracking on the shipments.

[2022-07-29 00:53] #8359 closed

[2022-07-29 00:53] lasr21 commented on #8361
Congrats on your graduation! ✨ We're seeing up to 5 month delivery times for international shipments with the delays from covid. If you have not seen anything by then, you're welcome to get back in touch with us.

Unfortunately, we don't have tracking on the shipments.

[2022-07-29 00:53] #8361 closed

[2022-07-29 02:10] DHANESHJOSHI commented on #8312
Still haven't got mine in India ?

[2022-07-29 02:55] MishaAkram commented on #8312
Still haven't got mine in Pakistan?

[2022-07-29 11:24] C19H3R commented on #8361
also is there a way with which i can check what address i gave i have a doubt that autofill  filled the wrong address

[2022-07-29 12:46] suyashvash commented on #8361
Well update from my side, just received the package today.. Lol

[2022-08-01 05:46] EyeRunnMan opened #8368 "How do i verify if i have given the correct shipment address"
[P #404](https://github.com/education/GitHubGraduation-2022/pull/404)
also can i change the username now ?

[2022-08-01 12:53] Hetarth02 opened #8369 "Haven't received the mail with the verification code to the package."
Hello, I haven't recieved the verification code in mail or text message. Is there something wrong, can you regenerate or resend me the code?

I contacted the courier services(DTDC) but they said that the tracking number is necessary otherwise they won't be able to help.

Can anyone help me regarding this matter?

[2022-08-02 17:33] suyashvash commented on #8369
Guess who won’t be graduating this year LOL.

[2022-08-03 03:37] DHANESHJOSHI commented on #8312
Didn't got my geeks ? I'm from India

[2022-08-03 04:41] itxshakil commented on #8312
I am from India, I also didn't get any mail, and also no tracking number or anything has been provided since.

[2022-08-03 04:43] itxshakil opened #8370 "No Trading Card Received Yet [INDIA]"
Neither I got any mail of the trading nor any tracking number or so since.

Does anyone have an idea when we will get it in India?

[2022-08-03 04:45] itxshakil commented on #8370
#7919 My pull request

[2022-08-03 19:35] lasr21 commented on #8370
Congrats on your graduation! @itxshakil  ✨ We're seeing up to 5 month delivery times for international shipments with the delays from covid. If you have not seen anything by then, you're welcome to get back in touch with us.

Unfortunately, we don't have tracking on the shipments.

[2022-08-03 19:35] #8370 closed

[2022-08-03 19:36] lasr21 commented on #8312
We're seeing up to 5 month delivery times for international shipments with the delays from covid. If you have not seen anything by then, you're welcome to get back in touch with us.

Unfortunately, we don't have tracking on the shipments.

[2022-08-03 19:37] lasr21 commented on #8369
Congrats on your graduation! @Hetarth02  ✨ We're seeing up to 5 month delivery times for international shipments with the delays from covid. If you have not seen anything by then, you're welcome to get back in touch with us.

Unfortunately, we don't have tracking on the shipments.

[2022-08-03 19:37] #8369 closed

[2022-08-03 19:38] lasr21 commented on #8368
Hello @EyeRunnMan we already print and closed this years graduation :S

[2022-08-03 19:38] #8368 closed

[2022-08-03 19:40] Hetarth02 commented on #8369
@lasr21  Actually, the package was sent to my address but due to some confusion it was again deported back to the head branch. Now, I am struggling to get it back as they are asking for the tracking/shipment number. Can you help me with this please?
Thanks!

[2022-08-03 19:41] lasr21 commented on #8369
@arkodyuti can you help us with this issue? 👀

[2022-08-04 03:31] EyeRunnMan commented on #8368
also how do i check the address that i gave and whats the way to track it out !! ?

[2022-08-06 07:01] Hetarth02 opened #8372 "Continuation of Issue #8369"
[Issue](https://github.com/education/GitHubGraduation-2022/issues/8369)

In continuation to this issue, I went to DTDC head branch and inquired about the package. They told me that my package was sent back to the sender.

So, what are the next steps for me to get my package back?

Can anyone help me with this please?

[2022-08-08 15:00] arkodyuti commented on #8369
Hi @Hetarth02 👋🏻 we will work with our shipping partner to resend this to your address. Thanks ✨

[2022-08-08 20:20] #8372 closed

[2022-08-09 14:07] wu000168 commented on #2642
#6152 I am moving and have not received the package either in continental US. I have submitted another address form for the new address just in case. Any update on why so many of us are having delivery issues?

[2022-08-09 17:14] lasr21 commented on #2642
@icorbrey @thegautamkumarjaiswal @wu000168  Hello, On the first week of September, we will send a form to resend the missing cards. Stay tuned. Thanks for your patience

[2022-08-09 17:53] DHANESHJOSHI opened #8375 "Didn't receive any Swags yet help me"
I didn't got any swags my Pr is #4677 I'm from India

[2022-08-09 17:56] DHANESHJOSHI commented on #8312
Thank you GitHub i received my card but didn't got any swags yet my pr is #4677

[2022-08-09 18:30] lasr21 commented on #8312
@DHANESHJOSHI we only send the card :)

[2022-08-09 18:30] lasr21 commented on #8375
@DHANESHJOSHI we only send the card :)

[2022-08-09 18:30] #8375 closed

[2022-08-16 03:09] EyeRunnMan opened #8384 "Regarding Update related to shipment"
How and when do i get the updates regarding my status of the card and swags

My Merged Pull Request : https://github.com/education/GitHubGraduation-2022/pull/404

[2022-08-16 14:34] lasr21 commented on #8384
Hello, On the first week of September, we will send a form to resend the missing cards. Stay tuned. Thanks for your patience

[2022-08-16 14:34] #8384 closed

[2022-08-19 08:36] wJJh opened #8385 "#5139 I haven't received the gift yet"
#5139 I haven't received the gift yet

[2022-08-20 01:05] lasr21 commented on #8385
Hello, On the first week of September, we will send a form to resend the missing cards. Stay tuned. Thanks for your patience

[2022-08-20 01:05] #8385 closed

[2022-08-22 11:15] osamazafar980 opened #8386 "Did Anyone Received Package From Github"
Is there anyone who received their graduation package from Github?

[2022-08-22 14:57] lasr21 commented on #8386
Hello, On the first week of September, we will send a form to resend the missing cards. Stay tuned. Thanks for your patience

[2022-08-22 14:57] #8386 closed

[2022-08-23 06:01] SupaliOjha commented on #8312
I am from India and I didn't get any swags or mail yet. My PR is #4947

[2022-08-23 20:41] lasr21 commented on #8312
Hello, On the first week of September, we will send a form to resend the missing cards. Stay tuned. Thanks for your patience

[2022-08-23 20:41] #8312 closed

[2022-08-26 20:22] OmerFlame opened #8387 "I never received my cards!"
Title says it all.

[2022-08-27 13:20] clonalejandro commented on #8387
Me too, Im from Spain

[2022-08-29 22:12] lasr21 commented on #8387
Hello, On the first week of September, we will send a form to resend the missing cards. Stay tuned. Thanks for your patience

[2022-08-29 22:12] #8387 closed

[2022-08-30 07:14] PDPENG opened #8390 "Gift Status Inquiry"
All conditions have been met, and personal information can be found in the 2022 yearbook. May I ask when you can receive the card in the email and the mailed gift?

[2022-08-30 08:34] OmerFlame commented on #8387
No problem! Thank you for your help and clarification 😁

[2022-08-31 14:26] lasr21 commented on #8390
Hello, On the first week of September, we will send a form to resend the missing cards. Stay tuned. Thanks for your patience

[2022-08-31 14:26] #8390 closed

[2022-09-02 11:45] EyeRunnMan opened #8392 "No updates regarding the swag shipment"
No updates for the shipment of the swag [PR 404](https://github.com/education/GitHubGraduation-2022/pull/404)

[2022-09-05 15:59] lasr21 commented on #8392
please fill out this form https://airtable.com/shrq4pObYbyaxwlpD

[2022-09-05 15:59] #8392 closed

[2022-09-05 16:09] lasr21 opened #8395 "Re-Print GitHub Graduation Swag 2022"
Re-Print GitHub Graduation card. We are aware that some of you have not received the card yet. We are opening a form for a reprint. We will keep it open until Oct 07.

Please only fill out the form if you have not received your card. [Form](https://airtable.com/shrq4pObYbyaxwlpD)

[2022-09-08 03:36] EyeRunnMan commented on #8395
Also what happens in this case since that time https://github.com/education/GitHubGraduation-2022/pull/404 my user Name was C19H3R and now I have got my username changed to EyeRunnMan

P.S. I haven't received any swags or updates regarding it.

[2022-09-10 00:35] ghost commented on #2642
Hello  @lasr21, I am not able to find the the form for missing cards. Please update it.

[2022-09-10 00:39] wu000168 commented on #2642
I still have not received a new form either.

[2022-09-10 00:46] ghost commented on #2642
You can find it in Readme file.

[2022-09-10 00:47] ghost commented on #2642
https://github.com/education/GitHubGraduation-2022

[2022-09-12 02:34] azizulabedinazmi commented on #2642
I still don't receive any letter and custom trading card 💌 .
PR #7863

[2022-09-14 15:04] rubencosta13 commented on #8395
Submitted

[2022-09-20 18:59] imranbarbhuiya commented on #8352
@lasr21 I didn't receive my card yet. Is it normal?

[2022-09-20 20:42] rubencosta13 commented on #8352
Take a look at #8395

[2022-09-21 02:47] imranbarbhuiya commented on #8352
Ty

[2022-09-21 05:08] PDPENG opened #8405 "Gift Related!"
Have you received the information?  Why didn't I receive it in my email account.

[2022-09-26 18:06] EyeRunnMan opened #8408 "Swags not delivered"
PULL REQUEST : https://github.com/education/GitHubGraduation-2022/pull/404

STATUS : no updates regarding the shipment of swags even though my profile is on the GitHub graduation website and I was th 404th person to create a PR

[2022-09-27 07:18] appledora opened #8409 "No updates on the swag!!"
Hi, my PR got accepted and merged on the first try and everything. I had also filled up the swag form on time. But haven't heard back since :| My friend and I had consecutive PRs (and from the same country) and he just received his swags today, while I haven't had any updates at all :| Could you kindly tell me what's going on? :(

This is the link to [my PR](https://github.com/education/GitHubGrad

[2022-09-29 13:46] hashfx opened #8410 "Add Year Book Link to README"
Hey there,
It is observed that GitHubGraduation-2022 does not have a link attached to it's year book 🤔 whereas  Previous Graduations have a link to respective Year Book. Kindly update README with link for better reference, if possible 🐱‍🏍🐱‍💻

Thanks
Regards
@hashfx 👨🏻‍💻

[2022-09-29 17:59] appledora commented on #8409
@github-education

[2022-10-04 09:59] Peiprjs commented on #8395
Will we get email updates?

[2022-10-04 20:14] lasr21 commented on #8405
please check https://github.com/education/GitHubGraduation-2022/issues/8395

[2022-10-04 20:14] #8405 closed, assigned to nobody

[2022-10-04 20:14] lasr21 commented on #8408
please follow https://github.com/education/GitHubGraduation-2022/issues/8395

[2022-10-04 20:14] #8408 closed, assigned to nobody

[2022-10-04 20:15] lasr21 commented on #8409
please check https://github.com/education/GitHubGraduation-2022/issues/8395

[2022-10-04 20:15] #8409 closed, assigned to nobody

[2022-10-04 20:15] lasr21 commented on #8395
we will print it with the new usrname

[2022-10-04 20:16] lasr21 commented on #8395
We will close the form this week and start the process of reprint.

[2022-10-05 07:55] appledora commented on #8409
THANKS @lasr21 !! I had totally missed it :|

[2022-10-07 02:41] lasr21 commented on #2642
please check https://github.com/education/GitHubGraduation-2022/issues/8395

[2022-10-07 03:01] Jarvis-Ank commented on #2642
I've submitted a reprint form can you check if it is active.

[2022-10-07 14:56] Jarvis-Ank commented on #2642
@lasr21

[2022-10-08 05:16] OmarDev100 commented on #8395
Oof I just saw this now 😭😭😭

[2022-10-10 04:53] MusfiqDehan commented on #8395
Hi @lasr21 ,

I noticed this issue today.  I thought I would receive email updates for the "Re-Print of GitHub Graduation Swag 2022"; that's why I didn't follow this repo properly. I know it's my mistake. But if possible, can you kindly **reopen** the re-print form for at least one week, please? Sorry for bothering you again.

Regards,
Md. Musfiqur Rahaman
PR #1282

[2022-10-10 17:14] lasr21 commented on #8395
We are so sorry :S we closed the form past Friday.

[2022-10-10 17:17] lasr21 commented on #8395
Thank you to everyone who fills the form. We are processing the responses and starting the process.

Remember that shipping takes time and depends on every country.

[2022-10-10 17:17] #8395 closed, assigned to nobody

[2022-10-17 12:18] 0xN0x opened #8419 "Swags not delivered and no updates by mail"
Hello,

My PR : #4147
The shipment was to France so maybe it will take a few month and is normal ?
I had no update by email or anything so far so i don't know if it's normal or not and who i need to contact for this if it isn't.

Thanks you in advance

[2022-10-18 00:38] deltapsifi opened #8421 "Swags not delivered and no information yet"
I live in India and my swags haven't been delivered yet, but my friend, who lives in the same state as me, got his swags delivered.

[2022-10-18 13:17] bymicah commented on #8419
Same to me as well. I still do not receive my swags. I'm from PH.

[2022-10-18 13:27] ZekeriyaAY commented on #8419
Me too, from Turkey.

[2022-10-21 17:43] Yuttana12wr opened #8422 "Jo"
KMA

[2022-10-29 10:15] rootwhois commented on #8419
Me too, from China.

[2022-10-31 15:01] soxft commented on #8419
Me too, from China.

[2022-11-02 14:59] clonalejandro commented on #8421
me too Im from Spain

[2022-11-03 18:53] #8422 closed

[2022-11-03 18:53] lasr21 commented on #8419
We're sorry to hear that you hadn't received the GitHub Graduation swag from May. The Education team were aware that some graduates did not receive their trading card. To accommodate this we requested any graduates to https://github.com/education/GitHubGraduation-2022/issues/8395 before October 7th 2022 to receive a re-printing of swag. Unfortunately this form is now closed. This may not be the re

[2022-11-03 18:53] #8419 closed, assigned to nobody

[2022-11-03 18:53] lasr21 commented on #8421
We're sorry to hear that you hadn't received the GitHub Graduation swag from May. The Education team were aware that some graduates did not receive their trading card. To accommodate this we requested any graduates to https://github.com/education/GitHubGraduation-2022/issues/8395 before October 7th 2022 to receive a re-printing of swag. Unfortunately this form is now closed. This may not be the re

[2022-11-03 18:53] #8421 closed, assigned to nobody

[2022-11-03 18:57] dipesh88 commented on #8421
I also haven't yet, I'm from Chandigarh India
https://www.linkedin.com/in/dipesh-singla/

On Fri, 4 Nov 2022 at 00:24, lasr21 ***@***.***> wrote:

[2022-11-05 05:13] bymicah commented on #8419
@lasr21 Hello. I was able to answer the form, before September 30, for re-printing but did not received anything.

[2022-11-06 12:58] rootwhois commented on #8419
@lasr21 Hi, could you please help us to provide the tracking number, we can try to track the current delivery status by ourselves.

[2022-11-08 02:18] lasr21 commented on #8419
We are sending the cards; it takes time. We send it via postal service and depending on each country.

[2022-11-08 02:19] lasr21 commented on #8419
@rootwhois unfortunately we don't have tracking numbers.

[2022-11-23 14:34] Hetarth02 commented on #8395
Hey @lasr21 , any updates regarding this?

[2022-11-24 20:13] rubencosta13 opened #8428 "Not yet received the graduation letter"
Hello from Portugal!
Any updates on shipments?

[2022-11-30 05:08] itxshakil commented on #8395
Hey @lasr21 , any updates regarding this?

[2022-11-30 05:10] itxshakil commented on #8395
Hey @lasr21 , any updates regarding the shipment?

Did anyone received the reprinted shipment yet?

[2022-11-30 17:40] lasr21 commented on #8395
@Hetarth02 @itxshakil we just sent all the cards it will take a while, if you fill the form we sent again your card to the postal office :)

[2022-11-30 17:42] Hetarth02 commented on #8395
Thanks for replying back, but I just received my package. Thank you for all the help!

[2022-11-30 17:43] Hetarth02 commented on #8395
Yeah, I received it!